.newsCardList {
    // width: 90%;

    @media (min-width : 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .newsCard {
        width: 100%;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        

        @media (min-width : 768px) {
            width: 30%;
            box-sizing: border-box;
            
        }

        .newsCardImg {
            width: 100%;
            border-radius: $borr5;
            position: relative;

            @media (min-width : 768px) {
                // height: 230px;  
            }

            .newsInfoImg {
                width: 100%;
                aspect-ratio: 3 / 2;
                border-radius: $borr5;
                overflow: hidden;
            }
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .3s ease-in-out;

                @media (min-width : 768px) {
                    // aspect-ratio: 16 /11;

                    
                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }

            .timingTag {
                width: 120px;
                padding: 10px 25px;
                color: $whiteWord;
                background-color: $grass_1;
                border: $bor2 solid $grass_2;
                border-radius: $borr2;
                text-align: center;
                line-height: 20px;
                letter-spacing: 1px;
                position: absolute;
                left: 50%;
                bottom: 0;
                z-index: 10;
                transform: translate(-50%,50%);

                

    
                @media (min-width : 768px) {
                    padding: 5px 15px;
                    // bottom: 20%;
                    
                }
                
            }
        }

        .newsCardText {
            width: 100%;
            margin-top: 20px;
            position: relative;
            text-align: center;
            color: $blackWord;

            .cardTitle {
                margin-top: 20px;
            }

        }
    }
}