// ord_list
.order_detail{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.order_card{
    background-color: $grey_1;
    border-radius: 0 0 $borr2 $borr2;
    padding: 8px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.card_intro{
    width: 50%;
    display: flex;
    flex-direction: column;
    h2{
        padding: 10px 0 0 10px;
        font-size: $mp;
    }
}
.order_proImg{
    width: 25%;
    img{
        width: 100%;
        vertical-align: top;
    }
}
button.order_detail{
    width: 20%;
    font-size: $p;
    margin-block: 5px;
    padding: 30px 5px;
    color: $whiteWord;
    border: none;
    border-radius: $borr2;
    cursor: pointer;
    font-size: $mp;
    margin-bottom: 10px;
    text-align: center;
    transition: border 0.1s ease-in-out;
    background-color: $grass_1;
    &:hover{
        border: solid;
        box-shadow: rgba(102, 102, 102, 0.35) 0px 5px 20px;
    }
}

// ord_content
.fade-enter-active, .fade-leave-active {
    transition:opacity 0.5s;
}
.fade-enter, .fade-leave-to {
    transition:opacity 0.1s;
}
.detail_card_content{
    width: 100%;
}
.detail_card{
    background-color: #fff;
    border-radius: $borr2;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0 20px 20px;
    margin-block: 10px;
    h2{
        padding: 10px;
        font-size: $mp;
    }
}
.detail_proImg{
    width: 25%;
    img{
        width: 100%;
        vertical-align: top;
    }
}
.detail_text{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
@media (min-width: 768px) {
    .card_intro{
        width: 50%;
        display: flex;
        flex-direction: column;
        h2{
            padding: 10px 0 0 10px;
            font-size: $h4;
        }
    }
    .detail_card{
        width: 100%;
        h2{
            font-size: $h5;
        }
    }
    .detail_text{
        padding-left: 20px;
        flex-direction: column;
    }
}