.introduction{
  position: relative;
  .searchItem{
    position: absolute;
    bottom: 100%;
    right: calc(50% - 150px);
    ul{
      width: 300px;
      display: flex;
      justify-content: center;
      li{
        box-sizing: border-box;
        width: 100px;
        padding: 20px 0;
        text-align: center;
        border-radius: 20px 20px 0 0;
        background-color: $grass_1;
        color: white;
        cursor: pointer;
        a{
          color: $blackWord;
        }
      }
    }
  }
  .searchItem li.onSearch {
    background-color: #efefef; 
    color: #222;
}
  
    //詳情區塊
  .detail{
    width: 70%;
    background-color: #efefef;
    border-radius: 20px;
    padding: 50px 60px;
    margin: 0 auto;
    margin-top: 170px;
    line-height: 2;
    position: relative;
    .productInfoBox{
      white-space: pre-wrap;
      padding: 0 0 150px 0;
    }
    .detail_content{
      display: flex;
      justify-content: end;
    }
    h2{
      margin-bottom: 30px;
    }
    span{
      font-weight: bold;
    }

    .articlel{
      width: 50%;
      margin-right: 30px;
    }
    .articler{
      width: 50%;
    }
    .hello{
      width: 80px;
      position: absolute;
      left: -75px;
      top: 20%;
    }
    .hike{
      width: 20vw;
      position: absolute;
      right: 25px;
      bottom: 30px;
    }
  }
}

@media(max-width: 768px){
  .introduction{
    
    img{
      display: none;
    }
    .searchItem{
      position: absolute;
      ul{
        display: flex;
        // flex-direction: column;
        justify-content: center;
        li{
          background-color: $grass_1;
          // padding: 10px 35px;
          border-radius: 20px 20px 0 0;
          text-align: center;
          line-height: 15px;
          a{
            color: $blackWord;
            
            
          }
        }
      }
    }

    .detail{
      width: 75%;
      margin-top: 60px;
      .detail_content{
        display: flex;
        flex-direction: column;
        h2{
        margin-bottom: 30px;
        }
        span{
          font-weight: bold;
        }
      
        .articlel{
          width: 100%;
          // margin-right: 30px;
        }
        .articler{
          width: 100%;
        }
      }
    }
  }
}
