    //首頁特化調整
    .indexDisplayProducts{
        display: flex;
        flex-wrap: wrap;
        .product_card{
            width: 50%;
        }
        @media (min-width:768px) {
            .product_card{
                width: 25%;
            }
        }
    }
    //遊戲特化調整
    .recommand_box{
        .product_card{
            width: 50%;
        }
        @media (min-width:768px) {
            .product_card{
                width: 100%;
            }
        }
    }


//商品卡css起點
.product_card{
    padding: 0 5px;
    width: 50%;
}
@media (min-width:768px) {
    .product_card{
        width: 33%;
    }
}
.pro_card_img img{
    vertical-align: top;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit:contain;
    overflow: hidden;
}
.pro_crad_info *{
    width: fit-content;
    color: $blackWord;
    margin: auto;
}
.pro_crad_info h6{
    font-size: $h4;
}
.pro_crad_info p{
    font-size: $p;
}
//商品卡css終點