.recommand, .gameResult {
    margin: 0;
    width: 100%;
    margin-bottom: 100px;

    .recommand_box, .gameResultBox{
        width: 100%;
        h4{
        width: 100%;
        font-size: $mh3;
        border-bottom: $bor1 solid $blackWord;
        border-top: $bor1 solid $blackWord;
        padding: 30px 40px;
        margin: 40px 0 40px 0;
        }
    }
    
}


//輪替套件
.mySwiper {
    width: 80%;
    height: 100%;
    margin: auto;    
}
.swiper-slide {
    text-align: center;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}
.recommand_box{
    position: relative;
}
.swiper-button-prev ,.swiper-prev{
    width: 50px;
    height: 50px;
    margin: 25px 30px;
    border-radius: 200px;
    border: 1px solid $blackWord;
    color: $blackWord;
    transition: .3s ease-in-out;

}
.swiper-button-prev:hover , .swiper-prev:hover{
    background-color: $lightGreen;
    color: $whiteWord;
    border: 1px solid $lightGreen;
}
.swiper-button-prev::after, .swiper-prev::after{
      font-family: "Font Awesome 5 Free"; 
      font-weight: 900; 
      content: "\f060";
      font-size: 14px;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      // width: 60px;
      // height: 27px;
      // border-radius: 200px;
      // border: 1px solid $blackWord;
      // color: $blackWord;
  
      // transition: .3s ease-in-out;
  }
  
  
  .swiper-button-next, .swiper-next {
    width: 50px;
    height: 50px;
    margin: 25px 30px;
    border-radius: 200px;
    border: 1px solid $blackWord;
    color: $blackWord;
  
    transition: .3s ease-in-out;
  }
  .swiper-button-next:hover , .swiper-next:hover{
      background-color: $lightGreen;
      color: $whiteWord;
      border: 1px solid $lightGreen;
  }
  .swiper-button-next::after , .swiper-next::after{
      font-family: "Font Awesome 5 Free"; 
      font-weight: 900; 
      content: "\f061";
      font-size: 14px;
      
      display: flex;
      justify-content: center;
      align-items: center;
  
  }


@media(max-width: 768px){
    .mySwiper {
        width: 70%;
        
    }
    .swiper-button-prev, .swiper-prev{
        margin: 10px 5px;
    }
    .swiper-button-next, .swiper-next {
        margin: 10px 5px;
    }

}

