.fade-enter-active, .fade-leave-active {
    transition:opacity 0.5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}
#SellCarFormOverlay {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color:rgba($grey_3,0.8);
}
#SellCarFormModal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: $borr3;
    background-color: $grey_2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
    z-index: 1000;
}
@media (min-width:320px){
    #SellCarFormModal {
        min-width: 375px;
        max-width: 1920px;
    }
    .close {
        position: absolute;
        top: 5%;
        right: 5%;
        font-size: 40px;
        cursor: pointer;
    }
    
    .SellCarForm_container{
        width: 60%;
        margin: auto;
        padding-top: 10px;
    }

    .SellCarForm_textarea{
        width: 100%;
        display: flex;
        flex-direction: column;
        border-style: none;
        & h2{
            font-size: 18px;
            text-align: center;
            margin-block: 15px;
        }
        & .email{
            margin-bottom: 10px;
        }
        & .psw_input{
            position: relative;
        }
        & input{
            position: relative;
            width: 100%;
            padding: 5px 15px;
            border-radius: $borr2;
            font-size: $mh6;
        }
        & button{
            height: 50px;
            width: 100%;
            font-size: $p;
            margin-block: 5px;
            color: $whiteWord;
            // border-radius: $borr2;
            cursor: pointer;
            text-align: center;
            transition: 0.3s linear;
            background-color: $lightGreen;
            &:hover{background-color: #9baa7a;}
        }
        & p{
            font-size: 15px;
        }
    }

}
.SellCarFormItem{
    width: 100%;   
}
.other_SellCarForm{
    .SellCarForm_upload{
    width: 100%;
    background-color: rgba($grey_3,0.8);
    .SellCarForm_upload_video{
        width: 50%;
        background-color: #9baa7a;
    }
}

}

@media (min-width:768px){
    #SellCarFormModal {
        padding: 40px;
        width: 50%;
        // min-width: 768px;
    }
}