//別人也逛過
.maybeYouLike{
    h4{
        border-bottom: 1px solid $blackWord;
        border-top: 1px solid $blackWord;
        padding: 20px 0;
        margin: 90px 0 40px;
    }
}
  
  
  
  // 也許你會喜歡
.view{
h4{
    border-bottom: 1px solid $blackWord;
    border-top: 1px solid $blackWord;
    padding: 20px 0;
    margin: 90px 0 40px;
}
}