.doubleCloud {
    animation: doubleCloud 5s infinite;
}
.doubleCloud img{
    max-width: 150px;
    position: relative;

    @media (min-width:768px) {
        max-width: 200px;
    }
}

@keyframes doubleCloud {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}