.greenBird {
    animation: greenBird 4s infinite;

}
.greenBird img{
    max-width: 70px;
    
}

@keyframes greenBird {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}