.singleCloud {
    animation: singleCloud 6s infinite;
}
.singleCloud img{
    max-width: 150px;
    position: relative;
}

@keyframes singleCloud {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-12px);
    }
    100% {
        transform: translateX(0);
    }
}