.bgAnime {
    position: relative;
    // overflow: hidden;
    width: 100%;
    height: 100vh; /* 可視區域高度 */
}
.bgAnime img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.animaImg {

    #animaImg-boyDoze {
        position: absolute;
        background: url('../../../imgs/shopInfo/animaPic/boy-doze.svg');
        width: 80px;
        height: 82px;
        top: 72%;
        left: 24%;
        animation: dozeBoy 7s steps(7) infinite;
        
        
    }
    @keyframes dozeBoy {
        100% {
            background-position: -560px 0;
        }
    }
    .animaImg-car {
        width: 70px;
        top: 53%;
        left: 30%;
    }
}
