.mainFooter{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: #F6F6F6;
    z-index: 100;

    @media (min-width : 768px) {
        height: 90vh;
        min-height: 550px;
        max-height: 550px;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .footerDecoBg {
        width: 100%;
        height: 100%;
        background: url(../../imgs/MainFooter/footerDecoBg.svg);
        background-repeat: repeat-x;
        object-fit: cover;
        position: absolute;
        top: -54px;
        z-index: 1;
        @media (min-width : 768px) {
            top: -10%;

        }

    }
    .footerLogoArea{
        padding: 5% 0;
        .footerLogo {
            width: 40%;
            z-index: 3;
            display: flex;
            // justify-content: center;
            position: absolute;
            top: -2%;
            left: 28%;
            // background-color: #aaa;
    
            @media (min-width : 768px) {
                justify-content: start;
                position: absolute;
                top: -1%;
                left: 10%;

            }
            @media (min-width : 1024px) {
                justify-content: start;
                position: absolute;
                left: 12%;
                top: -8%;

            }
    
            img {
                width: 100%;
                margin: auto;
    
                @media (min-width : 768px) {
                    width: 40%;
                    margin: 0;
                }
                
            }
        }
    }


    .RouterLink {
        border: none;
        color: $blackWord;
        text-wrap: nowrap;

    }

    .footerbg{
        width: 100%;
        height: 100%;
        background: url(../../imgs/MainFooter/phFooter_bg.png) no-repeat;
        background-size: contain;
        background-position: 0% 100%;
        position: absolute;
        bottom: 0;
        // z-index: 1;
        // left: 0;
        @media (max-width : 550px) {
            background-position: 0% 93%;
        }
        @media (min-width : 768px) {
            background: url(../../imgs/MainFooter/pcFooter_bg.png) no-repeat;
            background-size: contain;
            background-position: 0 100%;
        }

    }



    .footerSection1{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 1px;
        
        @media (min-width : 768px) {
            width: 35%;
            height: 60%;
            justify-content: end;
        }


        .footerSection1Info {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            z-index: 1;

            h4 {
                font-size: clamp($h5,2vw,$h4);
                line-height: 50px;
                text-align: center;
                margin: 20px auto 20px;
                text-wrap: nowrap;
            }  
            .shopInfo {
                display: none;

                @media (min-width : 768px) {
                    display: block;
                }

                p {
                    font-size: clamp($mp,1.5vw,$p);
                    line-height: 35px;
                    font-family:'Noto Sans' ;
                    text-align: center;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .footerSection2{
        width: 100%;
        // height: 60%;
        display: flex;
        margin: -34px auto -18px;
        font-size: clamp($mp,1.5vw,$p);
        font-family: 'Kosugi Maru';
        justify-content: start;
        align-items: start;
        z-index: 1;
        // background-color: #aaa;

        @media (min-width : 768px) {
            width: 35%;
            height: 60%;
            margin: 2% -5%;
            justify-content: space-evenly;
            align-items: center;
        }

        .mainMenu {
            width: 40%;

            @media (min-width : 768px) {
                width: 100%;
                height: 70%;
            }
        }

        .mainMenu li {
            
            transition: .3s ease-in-out;
            &:hover {
                
                transform: translateX(5px);

                .RouterLink {
                    color: $brown;
                }

            }
        }

        .mainMenu>li {
            width: 50%;
            margin: 20px auto 0;

            @media (min-width : 768px) {
                width: 100%;
                margin: 20px 0px 5px 50px;
            }
        
        }
        .subMenu>li {
            width: 50%;
            // font-size: $mh6;
            font-size: clamp($mh6,1.5vw,$p);
            margin: 8px auto 7.5px 35%; 

            @media (min-width : 768px) {
                width: 100%;
                margin: 0 0 7.5px 100px;
            }
        }        
        .footerGame {
            // display: none;

            @media (min-width : 768px) {
                display: block;
            }
        }

        
    }
    .footerSection3{
        width: 100%;
        display: flex;
        justify-content: end;
        position: relative;
        top: 10px;
        // background-color: #aaa;

        @media (min-width : 768px) {
            width: 25%;
            height: 60%;
            align-items: end; 
        }

        .footerSection3Follow {
            width: 50%;
            height: 50%;
            margin-bottom: 30%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: end;
            // right: 0;
            opacity: 0;

            @media (min-width : 768px) {
                width: 70%;
                height: 10%;
                margin-bottom: 0%;
                flex-direction: row;
                align-items: start;
                opacity: 1;
                position: relative;
                right: 0;
            }

            p {
                font-size: clamp($mp,1.5vw,$p);
                font-family: 'Kosugi Maru';
                transform: rotate(90deg);
                
                @media (min-width : 768px) {
                    margin-right: 20px;
                    transform: rotate(0deg);
                    text-align: center;
                    text-wrap: nowrap;
                }
            }
            .RouterLink img {
                width: 20px;
                height: 20px;    
                @media (min-width : 768px) {
                    width: 25px;
                    height: 25px;
                    margin-right: 20px;
                }
            }
        }
        .footerSection3Top {
            width: 80px;
            height: 100%;
            position: relative;
            height: 30%;
            top: -60px;
            right: 10px;
            cursor: pointer;
            z-index: 2;

            @media (min-width : 768px) {

                &:hover {
                    .toTopCat {
                        top: -16px;
                    }
    
                }
            }
            
            
            .toTopCat {
                width: 100%;
                position: absolute;
                top: -16px;
                left: -7px;
                

                @media (min-width : 768px) {
                    top: 0;
                    transition: .1s ease-in-out;
                }
            }
            .toTopGrass {
                width: 80%;
                position: absolute;
                // bottom: -40px;
            }
            p {
                position: absolute;
                color: $whiteWord;
                top: 3px;
                left: 22px;
                font-family: 'Single Day';

                @media (min-width : 768px) {
                    top: 0px;
                    left: 15px;
                }
            }
        }

    }

    .footerSection4{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        position: absolute;
        bottom: 12%;

        @media (min-width : 768px) {
            height: 5vh;
            background-color: #333;
            z-index: 1;
            bottom: 0;
        }

        p {
            width: 90%;
            text-align: center;
            color: $whiteWord;
            font-size: 12px;

            @media (min-width : 768px) {
                position: absolute;
                top: -20px;
            }
        }
    
    }
}   


