* {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mainHeader{
    position: relative;
    display: flex;
    justify-content: end;
    // align-items: center;
    z-index: 850;
    
} 
.nav{
    position: relative;
}
.indexNavLogo{
    position: absolute;
    width: 140px;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.indexHeaderNavPh{
    display: flex;
    gap:10px;
    // margin:10px 10px 10px 0px;
    background-color: #333;
    right: 0;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    
}
.indexHeaderButtonPh{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.indexHeaderButtonIconPh{
    width: 40px;
    height: 40px;
    margin-left: 13px;
}
.indexHeaderButtonPhP{
    color: $whiteWord;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    width: 68px;
    font-family: 'Nunito Sans', sans-serif;
}

.indexHeaderA{
    text-decoration: none;
}
.indexHeaderButtonLoginPh{
    height: 24px;
}

.indexHeaderLoginPh{
    display: flex;
    justify-content: center;
    align-items: center;
}

.indexHeaderButtonLoginPh{
    height: 24px;
}
.linePh{
    width: 2px;
    height: 60px;
    background-color: $grey_2;
}

.indexHeaderNav{
    display: flex;
    gap:10px;
    background-color: $whiteWord;
    box-sizing: border-box;
    padding-top: 10px;
    padding-right: 10px;
    height: 75px;
    // width: 100%;
    opacity: 0;
    box-sizing: border-box;
}



.indexHeaderButton{
    background-color: $lightBlue;
    width: 60px;
    height: 60px;display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $borr4;
    
    
}

.indexHeaderLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
        cursor: pointer;
    }
}

.indexHeaderButtonIcon{
    width: 40px;
    height: 40px;
}

.indexHeaderButtonP{
    color: $blackWord;
    font-size: 12px;
    text-align: center;
    font-weight: 1000;
    font-family: 'Nunito Sans', sans-serif;
        
}

.indexHeaderButtonLogin{
    height: 24px;
    
}
.line{
    width: 2px;
    height: 60px;
    background-color: $grey_2;
}

.indexLogo{
    position:absolute;
    left: 40px;
    top: 500px;
}

@media (min-width:768px) {
    .indexHeaderNav{
        opacity: 1;
        
    }
    .indexHeaderNavPh{
        display: none;
        
    }
    // .indexLogo{
    //     display: block;
    // }
    .indexNavLogo{
        position: absolute;
        width: 140px;
        left: 100px;
        top: 35px;
    }
}
