// .fadeIn {
//     animation: fadeIn 0.3s ease-in-out;
// }
// .fadeOut {
//     animation: fadeOut 0.3s ease-in-out;
// }
// @keyframes fadeIn {
//     0% { opacity: 0; }
//     100% { opacity: 1; }
// }
// @keyframes fadeOut {
//     100% { opacity: 0; }
//     0% { opacity: 1; }
// }
.fade-enter-active, .fade-leave-active {
    transition:opacity 0.5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}
#loginOverlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color:rgba($grey_3,0.8);
}
#loginModal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: $borr3;
    background-color: $grey_2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
    z-index: 1000;
}
@media (min-width:320px){
    #loginModal {
        min-width: 375px;
        max-width: 1920px;
    }
    .close {
        position: absolute;
        top: 5%;
        right: 5%;
        font-size: 40px;
        cursor: pointer;
    }
    
    .login_container{
        width: 60%;
        margin: auto;
        padding-top: 10px;
    }
    .eye{
        position: absolute;
        top: 40%;
        right: 2%;
        width: 20px;
        cursor: pointer;
    }
    .login_textarea{
        width: 100%;
        display: flex;
        flex-direction: column;
        border-style: none;
        & h2{
            font-size: $mh4;
            text-align: center;
            margin-block: 15px;
        }
        & .email{
            margin-bottom: 10px;
        }
        & .psw_input{
            position: relative;
        }
        & input{
            position: relative;
            width: 100%;
            padding: 5px 15px;
            border-radius: $borr2;
            font-size: $mh6;
        }
        & button{
            height: 50px;
            width: 100%;
            font-size: $p;
            margin-block: 5px;
            color: $whiteWord;
            border-radius: $borr2;
            cursor: pointer;
            text-align: center;
            transition: 0.3s linear;
            background-color: $lightGreen;
            &:hover{background-color: #9baa7a;}
        }
        & p{
            font-size: $mh5;
        }
        & span{
            color: $blackWord;
            font-size: $mh6;
            & a{
                font-size: $mh6;
            }
        }
        & a{
            color: $blackWord;
            text-align: right;
            font-size: $default;
        }
    }
    .other_login{
        width: 100%;
        margin: 10px auto 20px auto;
        & .other_login_title{
            display: flex;
            justify-content: center;
            align-items: center;
            & .other_line{
                border: $bor1 solid $blackWord;
                width: 20%;
            }
        }
        & h2{
            font-size: $p;
            text-align: center;
            margin-block: 8px;
        }
            & .login_group, .login_group a{
                display: flex;
                justify-content: center;
                align-items: center;
            }
                & .login_group img{
                    width: 50%;
                    vertical-align: top;
                }
    }
}

@media (min-width:768px){
    #loginModal {
        padding: 40px;
        width: 50%;
        // min-width: 768px;
    }
}
// @media (min-width:1440px){
//     #loginModal {
//         padding: 40px;
//         width: 40%;
//     }
//     .login_textarea{
//         & h2{
//             font-size: $mh4;
//         }
//         & input{
//             width: 100%;
//             font-size: $mh6;
//         }
//         & button{
//             height: 50px;
//             width: 100%;
//             font-size: $p;
//         }
//         & p{
//             font-size: $mh5;
//         }
//         & span{
//             font-size: $mh6;
//             & a{
//                 font-size: $mh6;
//             }
//         }
//         & a{
//             font-size: $default;
//         }
//     }
// }