.order{
    width: 100%;
    margin-bottom: 50px;
}
.sub_title_line{
    width: 100%;
    height: 0;
    border: $bor1 solid $blackWord;
}
.order_filter{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    nav{
        width: 100%;
    }
    & nav ul{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15%;
        width: 100%;
        text-align: center;
    }
    li{
        padding: 8px;
        font-size: $mp;
        margin-bottom: 1%;
        cursor: pointer;
    }
    li.active{
        color: $whiteWord;
        border-radius: $borr1+4px;
        background-color: $grass_1;
    }
}
.order_empty{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .order_img{
        width: 30%;
        img{
            width: 100%;
            vertical-align: top;
        }
    }
    .order_none{
        padding: 10px 0;
        font-size: $mh4;
    }
}


.order_card{
    padding: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.card_intro{
    width: 75%;
    display: flex;
    flex-direction: row;
    h3{
        padding: 10px 0 0 10px;
        }
}
.order_proImg{
    width: 30%;
    img{
        width: 100%;
        vertical-align: top;
    }
}
h3{
    padding-right: 10px;
}
button.order_detail{
    width: 25%;
    font-size: $p;
    margin-block: 5px;
    padding: 15px 5px;
    color: $whiteWord;
    border: none;
    border-radius: $borr2;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
    transition: border 0.1s ease-in-out;
    background-color: $grass_1;
    &:hover{
        border: solid;
        box-shadow: rgba(102, 102, 102, 0.35) 0px 5px 20px;
    }
}
// ↓訂單燈箱↓
.fade-enter-active, .fade-leave-active {
    transition:opacity 0.5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
#orderOverlay { //燈箱遮罩
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 997;
    width: 100%;
    height: 100%;
    background-color:rgba($grey_3,0.8);
}
#orderModal{ //燈箱內容
    position: relative;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        z-index: 998;
        font-family: 'Noto Sans';
        border-radius: $borr3;
        background-color: $grey_2;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;    
}
.detail_card{
    display: flex;
    h2{
        padding: 10px;
    }
}
.detail_proImg{
    width: 15%;
    img{
        width: 100%;
        vertical-align: top;
    }
}

@media (min-width: 768px) {
    .order{
        width: 70%;
    }
    .sub_title{
        h3{
            margin: 0;
        }
    }
    .order_filter{
        li{
            margin-top: 5px;
            font-size: $h5;
        }
    }
    .order_content{
        position: relative;
        .empty_img{
            margin: 10px auto;
        }
        .order_none{
            font-size: $h4;
        }
    }
}