.collect_content{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.sub_title h3.collect_title{
    margin: 40px 0 10px 0 ;
}
.linkToProductList{
    // margin: 0 0 5px 20px;
    margin: 5px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blackWord;
    border-radius: $bor2 $bor1 0 $bor2;
    position: relative;
    &::after {
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        position: absolute;
        border-style: solid;
        border-width: 0px 15px 39.6px 0px; 
        border-radius: $bor1 0;
        border-color: transparent transparent $blackWord transparent; 
        // right: -14.5px;
        right: -14.3px;
        bottom: 0;
    }
}
.productListLink{
    width: 140px;
    // width: 130px;
    height: 38.6px;
    margin: 0 10px;
    color: $whiteWord;
    background-color: $blackWord;
    display: flex;
    align-items: center;
    // justify-content: center;
    padding: 0 0 0 10px;
    transition: .3s ease-in-out;
    position: relative;
    // @media (min-width:768px) {
    //     &:hover::before {
    //         width: 30px;
    //     }
    // }
}
.collect_none{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        padding-block: 10px;
        font-size: $mh5;
    }
    .collect_icon{
        width: 50%;
        padding-top: 20px;
        img{
            width: 100%;
            vertical-align: top;
        }
    }
}
@media(min-width:768px){
    .collect_content{
        width: 70%;
    }
    .sub_title h3.collect_title{
        margin: 0 ;
    }
    .productListLink{
        &:hover::before {
            width: 30px;
        }
        &::before {
            content: '';
            width: 20px;
            height: 1px;
            margin-right: 20px;
            background-color: #fff;
            display: block;
            // position: absolute;
            left: 0;
            bottom: 50%;
            transition: width .3s ease-in-out;
            transform-origin: right;
            }
    }
}