.about{
    width: 100%;

    * {
        margin: 0;
        padding: 0;
    }

    .aboutTitle {
        width: 100%;
        margin-top: 80px;
        border-bottom: 1px solid $blackWord;
        display: flex;
        justify-content: center;
        img {
            width: 60%;
            margin: 20px auto;

            @media (min-width : 768px) {
                width: 40%;
                margin: 30px auto 10px;
            }
            
        }
    }
    
    .topPics{
        display: flex;
        align-items: center;
        // flex-wrap: wrap;
        width: 100%;
        // overflow: hidden;
            img{
                padding: 1%;
                margin: 0 auto;
                width: 23%;
                height: auto;
                object-fit: cover;
                overflow: hidden;  //注意
            }
    }
    
    .aboutUsContents{
        padding: 2% 0 0;
        // height: 720px;
        // display: flex;
        margin: auto;
        img{
            padding: 3%;
            display: flex;
            margin: 0 auto;
            width: 90%;
        }

        .aboutUsContent{
            width: 100%;
            // background-color: $grey_2;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            margin: 3%;
            
            img{
                width: 30%;
                position: absolute;
                right: 8%;
            }
            
            p{
                font-size: $p;
                font-family: 'Kosugi Maru';
                line-height: 40px;
                padding: 20px 60px;
                display: flex;
                position: relative;
                // margin: 0 auto;
                flex-wrap: wrap;

                // align-items: center;
            }
        }
    }
    .bottonbtns{
        width: 80%;
        margin: 0 auto 50px;

    }

}

@media (min-width : 768px) {
.about{
    width: 100%;
    
    .topPics{
        display: flex;
        align-items: center;
        overflow: hidden;
        // height: 15vh;
            img{
                padding: 1%;
                width: 25%;
                height: 25%;
            }
    }
    
    .aboutUsContents{
        // width: 100%;
        padding: 10px 0;
        // height: 720px;
        display: flex;
        margin: 20px 60px 10px 0;
            &:nth-child(odd) {
                background-color: $grey_2;
            }
            &:nth-child(even) {
                background-color: $grey_1;
                flex-direction: row-reverse;
                margin: 20px 0 10px 60px;
                .aboutUsContentsPic{
                    padding: 20px 60px 20px 0px;
                }
                .aboutUsContent{
                    
                    position: relative;

                    .car_caraPic{
                        // display: none;
                        position: absolute;
                        width: 150%;
                        top: 0;
                        right: -10%;
                        }
                    // .car_caraPic2 {
                    //     position: absolute;
                    //     // bottom: 0;
                    //     left: 0;
                    //     width: 100%;

                    //     & img{
                    //         // width: 25%;
                    //         // right: 50;
                    //         // top: 50;
                            
                    //     }
                    // }                
                }

            }
            .aboutUsContentsPic{
                padding: 20px 0px 20px 60px;
                display: flex;
                margin: 0 auto;
                width: 80%;
                height: 80%;
            }
            .aboutUsContent{
                width: 100%;
                display: flex;
                // flex-direction: column;
                justify-content: center;

                img{
                    width: 25%;
                    height: auto;
                    top: 80%;
                }
                
                p{
                    font-size: $p;
                    font-family: 'Kosugi Maru';
                    line-height: 40px;
                    padding: 20px 10px 10px 30px;
                    display: flex;
                    // align-items: center;
                }

            }
            .car_caraPic{
                width: 50%;
                position: absolute;
                top: 100;
            }
    }
    .bottonbtns{
        width: 70%;
        margin: 0 auto 100px;

    }


    }
}