.about {
    width: 100%;

    .aboutTitle {
        text-align: center;
        margin: 80px 0 0 0;
        position: relative;
        background-image: url(../../imgs/draw/greeting_illust.svg);
        background-position: center bottom -30px;
        height: 130px;

        h1 {
            line-height: 0; //使盒子大小與內容物相同
            white-space: nowrap;
            overflow: hidden;
            text-indent: 101%;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    @mixin media($max) {
        @media (max-width: $max + px) {
            @content;
        }
    }

    //圖片輪播-start
    .topPics {
        display: flex;
        align-items: center;
        background-color: none;

        // flex-wrap: wrap;
        .topPicsView {
            overflow: hidden;
            width: 100%;

            .topPicContainer {
                display: flex;
                animation: marquee 60s infinite linear;
                align-items: center;

                .topPicsImg {
                    flex-basis: 20%;
                    flex-shrink: 0;
                    height: 100%;
                    margin: 1%;

                    @include media(1024) {
                        flex-basis: 25%;
                    }

                    @include media(768) {
                        flex-basis: 33.33%;
                    }
                }
            }

            img {
                padding: 1%;
                margin: 1% auto;
                // height: auto;
                // object-fit: cover;
                // overflow: hidden;  //注意
                width: 100%;
                vertical-align: middle;

            }

        }

        @keyframes marquee {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(-(20% * 5));
            }
        }

        @include media(1024) {
            @keyframes marquee {
                0% {
                    transform: translateX(0);
                }

                100% {
                    transform: translateX(-(25% * 5));
                }
            }
        }

        @include media(768) {
            @keyframes marquee {
                0% {
                    transform: translateX(0);
                }

                100% {
                    transform: translateX(-(33.33% * 5));
                }
            }
        }
    }

    //圖片輪播-end

    //背景設定-start
    .bgcPic {
        background-image: url(../../imgs/SecondHandSale/bgp.png);
        background-size: 100%;
        // background-position: center center; // 背景圖片置中
        margin: 0;
        background-repeat: repeat;

        img {
            width: 100%;
            margin-top: -50px;

        }

        @media (min-width : 768px) {
            background-size: cover; // 背景圖片覆蓋整個區域
            background-position: center center; // 背景圖片置中
            margin: 0;
        }
    }

    //背景設定-end

    //文字內容設定
    .aboutUsContents {
        padding: 2% 0 0;
        // height: 720px;
        // display: flex;
        margin: auto;

        img {
            padding: 3%;
            display: flex;
            margin: 0 auto;
            width: 90%;
        }
        
        .aboutUsContent {
            box-sizing: border-box;
            width: 100%;
            padding: 3%;
            display: flex;
            flex-direction: column;
            
            strong {
                font-size: 1.5rem;
            }
            
            img {
                width: 30%;
                position: absolute;
                right: 2.5%;
                @media (min-width : 768px) {
                    right: 8%;
                }
            }
            
            p {
                font-size: 1rem;
                font-family: 'Kosugi Maru';
                line-height: 40px;
                padding: 3% 6%;
                display: flex;
                position: relative;
                flex-wrap: nowrap;

                @media (min-width : 768px) {
                    font-size: $p;
                    padding: 20px 60px;
                    display: flex;
                    position: relative;
                    flex-wrap: wrap;
                }
            }
            .car_caraPic {
                width: 100%;
                position: relative;
                right: -5%;
                @media (min-width : 768px) {
                    width: 180%;
                    position: relative;
                    right: 55%;
                }
            }
        }
    }

    .bottonbtns {
        width: 80%;
        margin: 0 auto 50px;

    }

}

.highlight-container,
.highlight {
    position: relative;
}

.highlight-container {
    display: inline-block;
}

.highlight-container:before {
    content: " ";
    display: block;
    height: 90%;
    width: 100%;
    margin-left: -3px;
    margin-right: -3px;
    position: absolute;
    background: $grey_2;
    transform: rotate(2deg);
    top: -1px;
    left: -1px;
    border-radius: 20% 25% 20% 24%;
    padding: 10px 3px 3px 10px;
}





// <span class="highlight">
// <p>歡迎來到 Cara Car，</p>
// </span>
// .highlight p{
//     // position: relative;
//     // display: inline;
//     // padding: 0;
//     // word-wrap: break-word;
//     transition-delay: .4s;
//     padding-bottom: 10px;
//     background-image: url(../../imgs/about/about_textline01.png);
//     background-position-y: bottom;
//     background-repeat: repeat-x;
//     background-size: auto 100%;
//     width: 35%;
// }



@media (min-width : 768px) {
    .about {
        width: 100%;

        .topPics {
            display: flex;
            align-items: center;
            overflow: hidden;
            width: 100%;

            // height: 15vh;
            img {
                padding: 1%;
                width: 30%;
                height: 25%;
            }
        }

        .aboutUsContents {
            // width: 100%;
            padding: 10px 0;
            // height: 720px;
            display: flex;
            margin: 20px 60px 10px 0;

            &:nth-child(odd) {
                // background-color: $grey_2;
            }

            &:nth-child(even) {
                // background-color: $grey_1;
                flex-direction: row-reverse;
                margin: 20px 0 10px 60px;

                .aboutUsContentsPic {
                    padding: 20px 60px 20px 0px;

                    img {
                        border-radius: $borr2;

                    }
                }

            }

            .aboutUsContentsPic {
                padding: 20px 0px 20px 60px;
                display: flex;
                margin: 0 auto;
                width: 80%;
                height: 80%;

                img {
                    border-radius: $borr2;

                }
            }

            .aboutUsContent {
                width: 100%;
                display: flex;
                // flex-direction: column;
                justify-content: center;

                img {
                    width: 25%;
                    height: auto;
                    top: 80%;
                }

                p {
                    font-size: $p;
                    font-family: 'Kosugi Maru';
                    line-height: 40px;
                    padding: 20px 10px 10px 30px;
                    display: flex;
                    // align-items: center;
                }

            }
        }

        .bottonbtns {
            width: 70%;
            margin: 0 auto 100px;

        }


    }
}