.progress{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: -20px;
    .part1{
        display: flex;
        flex-direction: column;
        text-align: center;
        // margin-right: 90px;
        position: relative;
    }
    .part2{
        text-align: center;
        // margin-right: 90px;
        // position: relative;
        
    }
    .part3{
        text-align: center;
    }
    // span{
    //     width: 50px;
    //     height: 50px;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     border-radius: 50%;
    //     background-color: #C0AA88;
    //     color: #fff;
    //     font-size: 20px;
    //     margin-bottom: 10px;
        
    // }
    .hr{
        border: 1px solid #C0AA88;
        width: 90px;
        height: 1px;
        margin-top: 25px;
        margin: 25px 10px;
    }
}
