.cart{
    margin-top: 100px;
    width: 100%;
    margin-bottom: 100px;
}
.cartTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: $bor1 solid $blackWord;
}
.cartTitle img{
    width: 70%; 
}
.cartContent{
    font-family:'Noto Sans' ;
    font-size: $mh4;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.productName{
    width: 35%;
    border-bottom: $bor1 solid $blackWord;
    padding-left: 5%;
}
.count{
    width: 25%;
    padding-left: 10%;
    border-bottom: $bor1 solid $blackWord;
}
.countTotal{
    width: 20%;
    padding-left: 8%;
    border-bottom: $bor1 solid $blackWord;
}
.productCard{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 1% auto;
    padding: 1% 6% 1% 5%;
}
.productCard img{
    width: 15%;
}
.proCardP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 22%;
}
.pro_name{
    font-size: $mh6;
    display: inline-block;
    padding: 1% 0;
}
.pro_price{
    font-size: $mh6;
    display: inline-block;
    padding: 1% 0;
}
.countButton{
    background-color: $grey_1;
    width: 75px;
    height: 25px;
    border-radius: $borr2;
    display: inline-block;
    margin: 0 auto;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; 
}
.countButton input{
    width: 25px;
    height: 25px;
    border-style: none;
    text-align: center;
    background-color: $grey_1;
}
.countButton button{
    border-style: none;
    width: 25px;
    height: 25px;
    border-radius: $borr2;
}
.proCount{
    width: 5%;
    margin: 0 auto;
    font-family:'Noto Sans' ;
}
.custom{
    width: 80%;
    border-bottom: $bor1 solid $blackWord;
    padding-left: 5%;
}
.customPlate{
    width:80%;
    background-color: $grey_1;
    border-radius: $borr2;
    margin: 3% auto;
    padding: 1% 0 1% 2%;
}
.customPlateNumber{
    font-family:'Noto Sans' ;
    font-weight: 600;
}
.customNumber{
    border-style: none;
    border-radius: $borr2;
    float: right;
    margin-right: 4%;
    text-indent: 8px;
}
.cartReceiptInformation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kosugi Maru';
}
.receiptnformation{
    width: 80%;
    height: 650px;
    border-radius: $borr2;
    background-color: $grey_2;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    margin-bottom: 80px;
}
.informationTitle{
    font-size: $mh5;
    padding-left: 14%;
    margin-top: 30px;
}
.informationTitle2{
    font-size: $mh6;
}
.cartCheckbox{
    width: 10px;
    height: 10px;
}
.cartInputTitle{
    font-size: $mh6;
    padding-left: 16%;
    margin: 5px 0 0 0;
}
.cartInput{
    border-style: none;
    border-radius: $borr1;
    width: 72%;
    height: 6%;
    margin: 15px auto;
    text-indent: 8px;
}
#city{
    border-style: none;
    border-radius: $borr1;
    width: 72%;
    height: 40%;
    margin: 10px 2% 5px 14%;
}
.area{
    border-style: none;
    border-radius: $borr1;
    width: 72%;
    height: 40%;
    margin: 5px 2% 20px 14%;
    text-indent: 8px;
}
.remark{
    border-style: none;
    border-radius: $borr1;
    width: 72%;
    height: 20%;
    margin: 10px auto;
    text-indent: 8px;
}
.subButton{
    font-size: $mh4;
    width: 72%;
    padding: 10px 0;
    margin: 15px auto 25px auto;
    border-style: none;
    border-radius: $borr1;
    background-color: $lightGreen;
    color: $whiteWord;
    cursor: pointer;
}
.cartPrice{
    font-family:'Noto Sans' ;
    font-weight: 600;
    width:80%;
    background-color: $grey_2;
    border-radius: $borr1;
    margin: 3% auto;
    padding: 1% 0;
}
.cartFunctionTitle:nth-child(2){
    float: right;
    padding-right: 3%;
}
.cartFunctionTitle:nth-child(1){
    padding-left: 3%;
}
.cartCountTotal{
    float: right;
    padding-right: 16%;
    font-family:'Noto Sans' ;
    font-size: $mh5;
    font-weight: 600;
}
.cartMatter{
    font-family:'Noto Sans' ;
    font-weight: 600;
    width:80%;
    background-color: $grey_2;
    border-radius: $borr1;
    margin: 10% auto;
    padding: 3% 0;
    cursor: pointer;
}
.fa-solid{
    float: right;
    margin-right: 6%;
}
.fa-caret-down {
    transition: transform 0.5s ease;
}
.rotated {
    transform: rotate(180deg);
}
.CartContent{
    // display: none;
    height: 20%;
    padding: 30px 0px 0px 40px;

}
.cartContentTitle{
    font-size: $mh4;
}
.CartContent p{
    line-height: 30px;
    width: 85%;
}
.CartContent.show{
    display: block;
}
@media (min-width : 768px) {
    .cartTitle img{
        width: 40%;
    }
    .cartTitle{
        border-bottom: $bor1 solid $blackWord;
    }
    .cartContent{
        font-size: $h4;
    }
    .productCard img{
        width: 13%;
    }
    .proCardP{
        width: 11%;
    }
    .pro_name{
        font-size: $mh5;
    }
    .countButton{
        width: 90px;
        height: 30px;
    }
    .countButton input{
        width: 30px;
        height: 30px;
    }
    .countButton button{
        width: 30px;
        height: 30px;
    }
    .proCount{
        font-size: $h5;
        width: 0;
    }
    .customContent{
        font-size: $h4;

    }
    .receiptnformation{
        height: 800px;
    }
    .informationTitle{
        font-size: $mh4;
    }
    .informationTitle2{
        font-size: $mh5;
    }
    .cartCheckbox{
        width: 14px;
        height: 14px;
    }
    .cartInputTitle{
        font-size: $mh5;
    }
    .cartInput{
        margin: 20px auto;
    }
    #city{
        width: 35%;
        height: 90%;
        margin: 10px 2% 20px 14%;
    }
    .area{
        width: 35%;
        height: 90%;
        margin: 10px 0 20px 0;
    }
}