.cart{
    width: 100%;
    margin: 0 0 100px 0;
}
.cartTitle{
    display: flex;
    justify-content: center;
    margin: 80px 0 0 0;
    position: relative;
    background-image: url(../../imgs/draw/greeting_illust.svg);
    background-position: center bottom -30px;
    height: 130px;
    h2{
        line-height: 0; //使盒子大小與內容物相同
        white-space: nowrap;
        overflow: hidden;
        text-indent:101%;
        width: 100%;
        background-image: url(../../imgs/cart/cart_title.svg);
        background-repeat: no-repeat;
        background-position: bottom;
    }
}
.cartCloud{
    display: none;
}
.cartBird{
    display: none;
    
}
.cartProcess1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.cartProcessCircle{
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    border-radius:$borr4;
    border: $bor2 solid $grey_2;
    color: $grey_3;
    // background-color: $grey_1;
    font-size: $mh4;
}
#circle1{
    background-color: #C0AA88;
    border:none;
    color: $whiteWord;
}
.cartLine{
    height: 2px;
    width: 70px;
    background-color: $grey_2;
    margin: 0px 15px;
}
.cartProcess2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.cartProcessname{
    padding: 0px 52px;
    font-size: 12px;
    color: $grey_3;
    letter-spacing: 3px;
    font-weight: 600;
}
#process1{
    color: $blackWord;
}
.cartContent{
    font-family:'Noto Sans' ;
    font-size: $mh4;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.productName{
    width: 35%;
    border-bottom: $bor1 solid $blackWord;
    padding-left: 5%;
    text-align: center;
}
.count{
    width: 25%;
    padding-left: 10%;
    border-bottom: $bor1 solid $blackWord;
}
.countTotal{
    width: 20%;
    padding-left: 8%;
    border-bottom: $bor1 solid $blackWord;
}
.productCard{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 1% auto;
    padding: 1% 6% 1% 5%;
}
.productCard img{
    width: 15%;
}
.proCardP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 20%;
}
.pro_name{
    font-size: $mh6;
    display: inline-block;
    padding: 1% 0;
}
.pro_price{
    font-size: $mh6;
    display: inline-block;
    padding: 1% 0;
}
.number_select{
    width: 28%;
}
.countButton{
    background-color: $grey_1;
    width: 75px;
    height: 25px;
    border-radius: $borr2;
    display: inline-block;
    margin: 0 auto;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; 
}
.countButton input{
    width: 25px;
    height: 25px;
    border-style: none;
    text-align: center;
    background-color: $grey_1;
}
.countButton button{
    border-style: none;
    width: 25px;
    height: 25px;
    border-radius: $borr2;
}
.proCount{
    padding-left: 10px;
    width: 1%;
    margin: 0 auto;
    font-family:'Noto Sans' ;
}
.custom{
    width: 80%;
    border-bottom: $bor1 solid $blackWord;
    padding-left: 5%;
}
.customPlate{
    width:80%;
    background-color: $grey_1;
    border-radius: 12px;
    margin: 3% auto;
    padding: 1% 0 1% 2%;
}
.customPlateNumber{
    font-family:'Noto Sans' ;
    font-weight: 600;
}
.customNumber{
    border-style: none;
    border-radius: 12px;
    float: right;
    margin-right: 4%;
    text-indent: 8px;
}
.cartReceiptInformation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans';
    font-weight: 600;
    
}
.receiptnformation{
    width: 80%;
    height: 1200px;
    border-radius: $borr2;
    background-color: $grey_2;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    margin-bottom: 80px;
    margin-top: 20px;
}
.informationTitle{
    font-size: $mh5;
    padding-left: 14%;
    margin-top: 30px;
}
.informationTitle2{
    font-size: $mh6;
}
.cartCheckbox{
    width: 10px;
    height: 10px;
}
.cartInputTitle{
    font-size: $mh6;
    padding-left: 16%;
    margin: 5px 0 0 0;
}
.cartInput{
    border-style: none;
    border-radius: 12px;
    width: 72%;
    height: 6%;
    margin: 15px auto 10px auto;
    text-indent: 8px;
}
#city{
    border-style: none;
    border-radius: 10px;
    width: 72%;
    height: 50%;
    margin: 10px 2% 5px 14%;
}
.area{
    border-style: none;
    border-radius: 10px;
    width: 72%;
    height: 50%;
    margin: 10px 2% 20px 14%;
    text-indent: 8px;
}
.cartInputRoad{
    border-style: none;
    border-radius: 12px;
    width: 72%;
    height: 8%;
    margin: 40px auto 10px auto;
    text-indent: 8px;
}
#remark{
    border-style: none;
    border-radius: $borr2;
    width: 72%;
    height: 16%;
    margin: 10px auto;
    text-indent: 8px;
    font-size: $mh6;
}
.allCardNumber{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardNumber{
    width: 17%;
    height: 30px;
    border-style: none;
    border-radius: 12px;
    margin: 8px 5px;
}
.subButton{
    display: flex;
    justify-content: center;
    font-size: $mh4;
    width: 72%;
    padding: 10px 0;
    margin: 15px auto 25px auto;
    border-style: none;
    border-radius: 16px;
    background-color: $grass_2;
    color: $whiteWord;
    cursor: pointer;
}
.cartButton{
    position: relative;
    // margin-top: 20px;
}
button{
    border-style: none;
    // border-radius: $borr2;
    border-radius: 15px;
    font-size: $mh6;
    width: 36%;
    color: #fff;
    margin-bottom: 30px;
    // padding: 10px;
}
#goToProduct{
    position: absolute;
    left: 12%;
    bottom: 5%;
    border: 2px solid $grass_2;
    padding: 12px 50px;
    background-color: #fff;
    color: $grass_1;
    cursor: pointer;
}
#goToCart{
    position: absolute;
    right: 12%;
    bottom: 5%;
    background-color: $grass_2;
    padding: 14px 50px;
    cursor: pointer;
}
.cartPrice{
    font-family:'Noto Sans' ;
    font-weight: 600;
    width:80%;
    background-color: $grey_2;
    border-radius: 12px;
    margin: 3% auto;
    padding: 1% 0;
}
.cartFunctionTitle:nth-child(2){
    float: right;
    padding-right: 3%;
}
.cartFunctionTitle:nth-child(1){
    padding-left: 3%;
}
.cartCountTotal{
    float: right;
    padding-right: 12%;
    font-family:'Noto Sans' ;
    font-size: $mh5;
    font-weight: 600;
}
.cartMatter{
    font-family:'Noto Sans' ;
    font-weight: 600;
    width:80%;
    background-color: $grey_2;
    border-radius: 18px;
    margin: 10% auto;
    padding: 3% 0;
    cursor: pointer;
}
.fa-solid{
    float: right;
    margin-right: 6%;
}
.fa-caret-down {
    transition: transform 0.5s ease;
}
.rotated {
    transform: rotate(180deg);
}
.CartContent{
    // display: none;
    height: 20%;
    padding: 30px 0px 0px 40px;

}
.cartContentTitle{
    font-size: $mh4;
}
.CartContent p{
    line-height: 30px;
    width: 85%;
}
.CartContent.show{
    display: block;
}
.cartBtn{
    display: flex;
    justify-content: end;
    margin-right: 120px;
    margin-top: -90px;
    button{
        cursor: pointer;
        background-color: transparent;
        width: 180px;
        height: 50px;
        margin: 0 20px;
        border-radius: 15px;
        border: 3px solid $grass_1;
        color: $grass_1;
    }
    .pay{
        background-color: $grass_1;
        color: #fff;
    }
    
}
@media (min-width : 768px) {
    .cartCloud{
        display: block;
        margin: -50px 0px 0px 100px;
    }
    .cartBird{
        display: block;
        // position: relative;
    }
    .cartBlueBird{
        position: absolute;
        top:60%;
        right:15%;
    }
    .cartGreenBird{
        position: absolute;
        top:90%;
        right:20%;
    }
    .cartYellowBird{
        position: absolute;
        top:95%;
        right:10%;
    }
    .cartContent{
        font-size: $h4;
    }
    .productCard img{
        width: 15%;
    }
    .pro_name{
        font-size: $mh5;
    }
    .number_select{
        width: 25%;
    }
    .countButton{
        width: 90px;
        height: 30px;
    }
    .countButton input{
        width: 30px;
        height: 30px;
    }
    .countButton button{
        width: 30px;
        height: 30px;
    }
    .proCount{
        font-size: $h5;
    }
    .customContent{
        font-size: $h4;
    }
    .customPlate{
        font-size: $mh5;
        padding: 2% 0 2% 2%;
    }
    .customNumber{
        border-radius: 8px;
    }
    .cartPrice{
        padding: 2% 3% 2% 0;
        font-size: $mh5;
    }
    .cartButton{
        position: relative;
        // margin-top: 20px;
    }
    button{
        border-style: none;
        border-radius: 15px;
        font-size: $mh5;
        width: 20%;
        color: #fff;
        letter-spacing: 3px;
    }
    #goToProduct{
        position: absolute;
        left:48%;
        bottom: 5%;
        border: 2px solid $grass_2;
        padding: 12px 46px;
        background-color: #fff;
        color: $grass_1;
        font-weight: 550;
        cursor: pointer;
    }
    #goToCart{
        position: absolute;
        right: 10%;
        bottom: 5%;
        background-color: $grass_2;
        padding: 14px 50px;
        cursor: pointer;
    }
    .receiptnformation{
        height: 1200px;
    }
    .informationTitle{
        font-size: $mh4;
    }
    .informationTitle2{
        font-size: $mh5;
    }
    .cartCheckbox{
        width: 14px;
        height: 14px;
    }
    .cartInputTitle{
        font-size: $mh5;
    }
    .cartInput{
        margin: 20px auto;

    }
    #city{
        width: 35%;
        height: 90%;
        margin: 10px 2% 20px 14%;
    }
    .area{
        width: 35%;
        height: 90%;
        margin: 10px 0 20px 0;
    }
    #remark{
        border-style: none;
        border-radius: $borr2;
        width: 72%;
        height: 20%;
        margin: 10px auto;
        text-indent: 8px;
        font-size: $mh6;
    }
    .cardNumber{
        height: 38px;
    }
}