main{
  margin: 0 0 50px 0;
  --gameMargin: 50px auto 100px auto;
}
//分頁標題css起點
.game_title{
  display: flex;
  justify-content: center;
  margin: 80px 0 0 0;
  position: relative;
  background-image: url(../../imgs/draw/greeting_illust.svg);
  background-position: center bottom -30px;
  height: 100px;
  h1{
    margin: 10px 10px 0 10px;
    line-height: 0; //使盒子大小與內容物相同
    white-space: nowrap;
    overflow: hidden;
    text-indent:101%;
    width: 100%;
    background-image: url(../../imgs/game/game_Title.svg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
.gameMenu{
  margin: auto;
}
.slogan{
  margin: 30px 0;
  text-align: center;
  font-size: $h3;
}
.main_art{
  img{
    width: 100%;
  }
}
.start_game{
  display: flex;
  justify-content: center;
  margin: 50px 0 ;
}
.quetionGame{
  margin: var(--gameMargin);
}
.quetionBox{
  width: 100%;
  aspect-ratio: 1.5/1;
  background-image: url(../../imgs/game/question_box.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  h3{
    font-size: clamp(25px,10vw,70px);
    // font-size: 64px;
    font-family: 'Single Day';
    letter-spacing: 2px;
    margin-top: 5%;
  }
  p{
    font-size: clamp(16px,4vw,24px);
    letter-spacing: 2px;
    margin-top: 10px;
    padding: 0 12%;
    @media (min-width:425px){
      margin-top: 8%;
    }
  }
}
.answerBox{
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  button{
    width: 75%;
    color: $blackWord;
    background-color: $grey_1;
    border-radius: $borr2;
    border: none;
    font-size: $h4;
    padding: 10px 0;
    margin: 20px 0 0 0;
  }
  button:hover{
    background-color: $green;
    color: $whiteWord;
    ::after{
      content: '';
      width: 56px;
      height: 56px;
    }
  }
}
.finishGame{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 3% 5%;
  margin: var(--gameMargin);
  aspect-ratio: 0.8/1;
  background-image: url(../../imgs/game/result_box_mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  @media(min-width: 1024px){
    padding: 6% 0%;
    aspect-ratio: 1.53/1;
    background-size: contain;
    background-image: url(../../imgs/game/result_box_pc.svg);
  }
  h3{
    width: 100%;
    text-align: center;
    font-size: $mh4;
    vertical-align: bottom;
    @media(min-width: 1024px){
      font-size: $h4;
    }
  }

}
//分頁標題css終點