//indexBanner
.indexBannerGroup{
    margin-top: 6%;
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 100px;
}
.indexBannerImg{
    width: 100%;
    height: 100%;
    margin: 22% 0px 10% 0px;
    padding-left: 10%;
}
.indexBannerTitle{
    // font-family: 'Kosugi Maru';
    letter-spacing: 5px;
    font-size: $mh4;
    position: absolute;
    top: 0;
    left: 35%;
}
.indexBannerTitle2{
    // font-family: 'Kosugi Maru';
    letter-spacing: 5px;
    font-size: $mh4;
    position: absolute;
    top: 6%;
    left: 50%;
}
.indexLogo{
    width: 20%;
    position: absolute;
    top: 15%;
    left: 12%;
}
.indexBannerBagBlock{
    width: 25%;
    height: 100%;
    background-color: $grey_1;
    border-radius: 0 $borr2 $borr2 0;
    position: absolute;
    top: 10%;
    left: 0;
    z-index: -1;
}

.indexProductGroup{
    box-sizing: border-box;
    padding: 0 0 0 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    // background-color: #aaa;
    margin-bottom: 100px;
    .indexProductTitle{
        width: 90%;
        margin-bottom: 50px;
        display: flex;
        justify-content: start;
        align-items: end;
        z-index: 3;
        .linkToProductList{
            // width: 195px;
            margin: 0 0 5px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $blackWord;
            border-radius: $bor2 $bor1 0 $bor2;
            position: relative;
            &::after {
                content: '';
                display: block;
                width: 0px;
                height: 0px;
                position: absolute;
                border-style: solid;
                border-width: 0px 15px 39.6px 0px; 
                border-radius: 0 0 $bor1 0;
                border-color: transparent transparent $blackWord transparent; 
                right: -14.5px;
                bottom: 0;
            }
        }
        .productListLink{
            width: 135px;
                // width: 130px;
                height: 40px;
                margin: 0 10px;
                color: $whiteWord;
                background-color: $blackWord;
                display: flex;
                align-items: center;
                // justify-content: center;
                padding: 0 0 0 10px;
                transition: .3s ease-in-out;
                position: relative;
                @media (min-width:768px) {
                    &:hover::before {
                        width: 30px;
                    }
                }
                &::before {
                content: '';
                width: 20px;
                height: 1px;
                margin-right: 20px;
                background-color: #fff;
                display: block;
                // position: absolute;
                left: 0;
                bottom: 50%;
                transition: width .3s ease-in-out;
                transform-origin: right;
                }
        }
    }
}


.decoTrainAnimation {
    position: relative;
    width: 100%;
    height: 60vw;
    overflow: hidden;
    // background-color: #aaa;

    @media (min-width:768px) {
        height: 25vw;
    }


    .decoMountain {
        // width: 30%;
        width: 70%;
        position: absolute;
        top: 23%;
        right: 0;

        @media (min-width:600px) {
            top:  5%;
        }
        @media (min-width:768px) {
            width: 50%;
            top: 0;
        }
    
        
    }

    .decoTrainAnima {
        width: 100%;
        height: 100%;
        position: relative;
        // background-color: #aaa;
        
    
        .decoTrain {
            // width: 50%;
            width: 100%;
            position: absolute;
            bottom: 40%;
            z-index: 10;
            // background-color: #aaa;

            @media (min-width:450px) {
                bottom: 45%;
            }
            @media (min-width:600px) {
                bottom: 50%;
            }
            @media (min-width:768px) {
                bottom: 35%;
            }
            
            .decoTrainImg {
                width: 50%;
                position: absolute;
                animation: movingTrain 10s linear infinite;

                @media (min-width:768px) {
                    width: 30%;
                }
            }
        }
    
        
        .decoRail {
            width: 1000px;
            position: absolute;
            bottom: 20%;
            

            @media (min-width:768px) {
                width: 100%;
                bottom: 5%;
            }
            
        }
    
        @keyframes movingTrain {
            from {
                right: -500px; /* 起始位置 */
            }
            to {
                right: 100%; /* 终点位置 */
            }
        }
    }
}


.indexEventGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: #aaa;
    margin-bottom: 100px;

    .indexEventTitle {
        width: 90%;
        margin-bottom: 50px;
        display: flex;
        justify-content: start;
        align-items: end;
        z-index: 3;


        .linkToEvent {
            // width: 195px;
            margin: 0 0 5px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $blackWord;
            border-radius: $bor2 $bor1 0 $bor2;
            position: relative;
            
            &::after {
                // content:'';
                // display: block;
                // width: 0px;
                // height: 0px;
                // position: absolute;
                // background-color: #faa;
                // border-bottom: 40px solid #faa;
                // border-top: 0;
                // border-left: 10px solid #faa;
                // right: -10px;
                // bottom: 0;

                content: '';
                display: block;
                width: 0px;
                height: 0px;
                position: absolute;
                border-style: solid;
                border-width: 0px 15px 39.6px 0px; 
                border-radius: 0 0 $bor1 0;
                border-color: transparent transparent $blackWord transparent; 
                right: -14.5px;
                bottom: 0;
                
            }

            .decoLine {
                width: 20px;
                height: 1px;
                background-color: $whiteWord;
                transition: width 0.3s ease-in-out;
                transform-origin: right;

                
            }
            .eventLink {
                width: 135px;
                // width: 130px;
                height: 40px;
                margin: 0 10px;
                color: $whiteWord;
                background-color: $blackWord;
                display: flex;
                align-items: center;
                // justify-content: center;
                padding: 0 0 0 10px;
                transition: .3s ease-in-out;
                position: relative;
                
                @media (min-width:768px) {
                    &:hover::before {
                        width: 30px;
                    }

                }


                &::before {
                content: '';
                width: 20px;
                height: 1px;
                margin-right: 20px;
                background-color: #fff;
                display: block;
                // position: absolute;
                left: 0;
                bottom: 50%;
                transition: width .3s ease-in-out;
                transform-origin: right;
                    
                }

    
            }

        }

        .decoImg {
            display: none;


            @media (min-width:768px) {
                display: block;
                width: 160px;
                position: relative;
                bottom: -10px;
                left: 40px;
            }
        }
    }

    .otherEventCards {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        overflow: hidden;

        .otherEventCard {
            width: 90%;
        }

    }
    
}


//indexaboutus
.indexAboutUsGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    @media (min-width:768px) {
        width: 90%;
        flex-direction: row;
    }
    .indexAboutUsImg{
        width: 90%;
        img{
        width: 90%;
        }
        @media (min-width:768px) {
            width: 90%;

        }
    }
    .indexAboutUsContent{
        width: 65%;
        display: flex;
        flex-direction: column;
        margin: auto 10%;
        text-align: center;
        @media (min-width:768px) {
            margin: auto;
            width: 50%;
        }
        .indexAboutUsTitle{
            display: flex;

            img{
                width: 60%;
            }

        }
        .indexAboutText{
            width: 100%;
            font-size: $p;
            line-height: 40px;
            padding: 25px 0px 25px 50px;
            // text-align: center;
            @media (min-width:768px) {
                width: 80%;
                padding: 10px 0px 25px 0px;
                margin: 0 auto;
                text-align: left;
            }
        }
        .linkToEvent {
            // width: 195px;
            margin: 0 0 5px 20px;
            display: flex;
            align-items: center;
            // justify-content: center;
            background-color: $blackWord;
            border-radius: $bor2 $bor1 0 $bor2;
            position: relative;
            @media (min-width:768px) {
                margin: 0 50% 5px 50px;
            }
            
            &::after {

                content: '';
                display: block;
                width: 0px;
                height: 0px;
                position: absolute;
                border-style: solid;
                border-width: 0px 15px 39.6px 0px; 
                border-radius: 0 0 $bor1 0;
                border-color: transparent transparent $blackWord transparent; 
                right: -14.5px;
                bottom: 0;
                
            }

            .decoLine {
                width: 20px;
                height: 1px;
                background-color: $whiteWord;
                transition: width 0.3s ease-in-out;
                transform-origin: right;

                
            }
            .eventLink {
                width: 135px;
                // width: 130px;
                height: 40px;
                margin: 0 10px;
                color: $whiteWord;
                background-color: $blackWord;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s ease-in-out;
                position: relative;
                
                @media (min-width:768px) {
                    &:hover::before {
                        width: 30px;
                    }

                }


                &::before {
                content: '';
                width: 20px;
                height: 1px;
                margin-right: 20px;
                background-color: #fff;
                display: block;
                // position: absolute;
                left: 0;
                bottom: 50%;
                transition: width .3s ease-in-out;
                transform-origin: right;
                    
                }

    
            }

        }


    }
    
}


//indexGame
.indexGameGroup{
    display: none;
}
@media (min-width:768px) {
    .indexBannerImg{
        // width: 100%;
        // height: 100%;
        margin: 2% 0px 0px 0px;
        padding-left: 30%;
    }
    .indexBannerTitle{
        writing-mode: vertical-rl;
        left: 10%;
        top:8%;
        font-size: $h4;
    }
    .indexBannerTitle2{
        writing-mode: vertical-rl;
        left: 15%;
        top: 20%;
        font-size: $h4;
    }
    .indexLogo{
        top:50%;
        left: 5%;
    }
    .indexBannerBagBlock{
        width: 30%;
        height: 100%;
        top: 60%;
    }
    .indexGameGroup{
        position: relative;
        display: block;
        max-width: 900px;
    }
    
    .indexGameTitle{
        width: 420px;
        position: absolute;
        top: 20px;
        left: 50%;
    }
    .indexGameBagBlock{
        width: 450px;
        height: 720px;
        background-color: $grey_1;
        border-radius: 0 $borr2 $borr2 0;
        margin-bottom:50px;
    }
    .indexGameImg{
        width: 850px;
        height: 450px;
        position: absolute;
        bottom: 70px; 
    }
    .indexGameButton{
        width: 260px;
        height: 260px;
        border-radius: $borr5;
        background-color: $blackWord;
        border: $bor2 solid $whiteWord;
        bottom: 20%;
        left: 80%;
        position: absolute;
        cursor: pointer;
    }
    .indexGameButton:hover{
        background-color: $lightBlue;
        .indexGameButton2{
            background-color: $lightBlue;
        }
    }
    .indexGameButton2{
        width: 220px;
        height: 220px;
        border-radius: $borr5;
        background-color: $blackWord;
        border: $bor3 solid $whiteWord;
        position: absolute;
        bottom: 18px;
        right: 18px;
        cursor: pointer;
    }
    .indexGameButtonTitle{
        display: inline-block;
        font-size: $h1;
        color: $whiteWord;
        text-align: center;
        position: absolute;
        bottom: 45px;
        right: 60px;
        font-family: 'Single Day', cursive;
        cursor: pointer;
    }
    .circular {
        margin: 0 auto;
        width: 10em;
        height: 10em;
        font-family: 'Single Day', cursive;
        font-size: $h5;
        position: absolute;
        bottom: 310px;
        right: 0;
    }
    .circular path { 
        fill: none; 
        }
        
    .circular svg {
    display: block;
    overflow: visible;
    }
    // :root {
    //     --start-offset-value: 0;
    // }
    .circular:hover .text-path {
        animation: move 15s linear infinite;
    }
    .text-path{
        animation: initial-state 0s linear forwards;
    }
    @keyframes initial-state {
    to {
        startOffset: var(--start-offset-value);
        }
    }
    
    @keyframes move {
    to {
        startOffset: 360;
        }
    }
}





