//會員中心預設頁面
.memberCenter {
    font-family: 'Noto Sans';
    .memberTitle {
        display: flex;
        justify-content: center;
        margin: 80px 0 0 0;
        position: relative;
        background-image: url(../../imgs/draw/greeting_illust.svg);
        background-position: center bottom -30px;
        height: 130px;
        h1{
            line-height: 0; //使盒子大小與內容物相同
            white-space: nowrap;
            overflow: hidden;
            text-indent:101%;
            width: 100%;
            background-image: url(../../imgs/memberCenter/memberCenterTitle.png);
            background-size:contain;
            background-repeat: no-repeat;
            background-position: bottom;
        }
    }
}

.memberContent {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 4%;
    margin: auto;
    padding: 2%;

    .member_profile {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }
}
.welcome,
.currentOrder,
.userCollect {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: $borr2;
    background-color: $grey_2;
    width: 100%;
    padding: 3% 2%;
    margin-bottom: 5%;
}

.state,
.user,
.collect {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $mh4;
}

.user,
.collect {
    width: 50%;
    cursor: pointer;
}

.memberButton {
    cursor: pointer;
    color: $whiteWord;
    border: none;
    border-radius: $borr2;
    background-color: $grass_1;
    width: 30%;
    height: 50px;
    font-size: $mh6;
}
.welcome {
    justify-content: flex-start;

    & h3 {
        font-size: $mh4;
    }
}

    .mb_user_image {
        border-radius: $borr5;
        border: $bor1 solid $blackWord;
        overflow: hidden;
        width: 150px;
        height: 150px;
        margin-bottom: 2%;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            width: 150%;
            vertical-align: top;
        }
    }
// }

@media (min-width: 768px) {
    .memberCenter {
        max-width: 1920px;

        .memberTitle {
            .title {
                width: 40%;
            }
        }

        .memberContent {
            gap: 10%;
            margin: auto;
            padding: 2%;
            margin-bottom: 13%;

            .member_profile {
                width: 70%;
                padding: 0;

                .welcome {
                    padding: 2%;
                    justify-content: space-between;

                    .user_image {
                        border-radius: $borr5;
                        border: $bor1 solid $blackWord;
                        background-color: transparent;
                        width: 150px;
                        height: 150px;
                        overflow: hidden;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 150%;
                            // height: 100%;
                            vertical-align: top;
                        }
                    }
                }
            }

            .currentOrder {
                .memberButton {
                    width: 25%;
                    font-size: $p;
                    transition: border 0.1s ease-in-out;

                    &:hover {
                        border: solid #fff;
                        box-shadow: rgba(102, 102, 102, 0.35) 0px 5px 20px;
                    }
                }
            }
        }
    }
}