//分頁標題css起點
.pro_list_title{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $blackWord;
  padding: 60px 0;
  h1{
    font-size: $h1;
  }
}
//分頁標題css終點


//價格篩選器css起點
.store_name{
  display: flex;
  justify-content: space-between;
  padding: 60px 40px;
  border-bottom: 8px solid $blackWord;
  h2{
    font-size: $h1;
  }
}
@media (min-width:768px){
  .pro_list_sorter{
    margin-bottom: 60px;
  }
}
//價格篩選器css終點


//商品種類篩選器css起點
.pro_list_filter{
  margin: 20px 0 50px 0;
}
.pro_list_filter button{
  border: none;
  background-color: #00f0;
  display: flex;
  flex-wrap: wrap;
  font-size: $h5;
  box-sizing: border-box;
  width: 120px;
  margin: 10px;
  padding: 0 10px;
  p{
    margin-inline-start: 15px;
  }
  .arrow_ltr{
    position: relative;
    top: 10px;
  }
}
@media (min-width:768px){
  .pro_list_filter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
    margin: 0;
    position: sticky;
    height: fit-content;
    top: 50px;
    button{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: fit-content;
      margin: 0;
      p{
        writing-mode: vertical-rl;
      }
      p::after{
        content: "\\";
      }
    }
  }
}
//商品種類篩選器css終點

.pro_card_list {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}
@media screen and (min-width:768px) and (max-width:1270px) {
  .pro_card_list{
    margin: 0
  }
}

//商品卡css起點
.product_card{
  box-sizing: border-box;
}
  .pro_card_img img{
    vertical-align: top;
    width: 100%;
    overflow: hidden;
    border-radius: 20px; //這個之後要改變數
  }
  .pro_crad_info *{
    width: fit-content;
    margin: auto;
  }
  .pro_crad_info h6{
    font-size: $h4;
  }
  .pro_crad_info p{
    font-size: $p;
  }
//商品卡css終點

// 二手流程
.sh_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    color: $blackWord;
    margin: 120px 0;
    .sh_text{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h4{
        font-size: $h4;
    }
    p, span{
        font-size: $default;
    }
    .cards{
      display: flex;
      margin: 10px;
      .contct_card{
        margin: 30px 55px;
        width: 160px;
        text-align: center;
        p:first-child{
            font-size: $p;
        }
        img:first-child{
          width: 2vw;
        }
        .arrow{
          width: 30px;
        }
      }
    }
    .phone{
      display: flex;
      justify-content: center;
      align-items: center;
      // width: 945px;
      margin-top: 30px;
      span{
        font-size: 16px;
      }
      img{
        width: 60px;
        margin-right: 90px;
      }
      .tel{
        display: flex;
        align-items: center;
        img{
          width: 25px;
          height: 24px;
          margin-right: 10px;
        }
        span{
          margin-right: 30px;
        }
        .phoneNumber{
          span{
            font-size: 28px;
          }
        }
        
      }
      .opening{
        display: flex;
        align-items: end;
        span{
          font-size: 14px;
          border: 1px solid black;
          padding: 1px 18px;
          border-radius: 90px;
          margin-left: 25px;
        }
      }
  
    }
  }

  // 之後改min-width
  @media (max-width: 768px) {
    .sh_contact{
      width: 100%;
    }
    .cards{
      flex-direction: column;
      width: 500px;
    }

    .contact_card{
        width: 100%; 
        background-color: $grey_1; 
        border-radius: 20px;
        margin: 7px 0;
        position: relative;
        img:first-child{
          width: 60px;
          margin-right: 30px;
        }
        .arrow{
          width: 20px;
          height: 5px;
          position: absolute;
          right: 0;
          margin-right: 40px;
        } 
    } 
    .card_info{ 
      display: flex;
      padding: 20px 60px;
      align-items: center; 
    }  

    .phone{
      width: 500px;
      background-color: $grey_1; 
      border-radius: 20px;
      .contact_detail{
        display: flex;
        flex-direction: column;
      }
    }
    .tel{
      .phoneNumber{
        span{
          font-size: 10px;
        }
      }
    } 
  }  
  