//分頁標題css起點
.pro_list_title{
  display: flex;
  justify-content: center;
  margin: 80px 0 0 0;
  position: relative;
  background-image: url(../../imgs/draw/greeting_illust.svg);
  background-position: center bottom -30px;
  height: 130px;
  h1{
    line-height: 0; //使盒子大小與內容物相同
    white-space: nowrap;
    overflow: hidden;
    text-indent:101%;
    width: 100%;
    background-image: url(../../imgs/product/productList_title.svg);
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
//分頁標題css終點


//商店名css起點
.store_name{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  border-bottom: $bor2 solid $blackWord;
  h2{
    text-align: start;
    font-size: $h2;
    height: fit-content;
    // padding: 0 0 0 50px;
    width: 230px;
    background-image: url(../../imgs/product/productListSubTitleCloudMobile.svg);
    background-size: cover;
    @media (min-width:768px) {
      background-image: url(../../imgs/product/productListSubTitleCloud.svg);
      width: 350px;
      text-align: center;
    }
  }
  //商店名稱旁邊的鳥
  .birdbox{
    display: none;
    @media (min-width:768px) {
      display: flex;
      position: absolute;
      flex-direction: column;
      right: -8.33%;
      top: -20px;
    }
    .blueBird{
      position: relative;
      right: 100%;
    }
    .yellowBird{
      position: relative;
    }
    .greenBird{
      position: relative;
      right: 50%;
    }
  }
}

@media (min-width:768px){
  .store_name{
    margin: 0 8.333%;
  }
}
//商店名css終點點


//商品種類篩選器css起點
.pro_list_filter{ //這是盒子
  margin: 20px 0 40px 0;
}
@media (min-width:768px){
  .pro_list_filter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    position: sticky;
    height: fit-content;
    top: 50px;
  }
}
//商品種類篩選器css終點

//商品卡列表css起點
.pro_card_list {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}
@media screen and (min-width:768px) {
  .pro_card_list{
    margin: 40px 0 0 0;
  }
}
//商品卡列表css終點

//商品卡css起點

//商品卡css終點

// 二手流程