main{
    padding: 80px 0 100px 0;
}
.pro_title{
    position: relative;
    background-image: url(../../imgs/draw/greeting_illust.svg);
    background-position: center bottom -30px;
    margin:0 0 15px 0;
    height: 130px;
    display: flex;
    .titleBackGround{
        position: relative;
        margin: auto;
        background-color: $navy;
        color: $whiteWord;
        padding: 10px 20px 0 20px;
        border-radius: $borr2 $borr2 0 0;
        z-index: 1;
        h1{
            font-size: $mh1;
            text-align: center;
        }
        h2{
            position: relative;
            font-size: $mh2;
            text-align: center;
            z-index: 5;
        }
        h2::before{
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            transform: rotate(-45deg);        
            background-color: $navy;
            border-bottom: 5px solid white;
            border-left: 5px solid white;
            right: calc(50% - 15px);
            top: calc(100% - 12px);
            z-index: -1;
        }
        h2::after{
            content: '';
            position: absolute;
            width: 36px;
            height: 36px;
            transform: rotate(-45deg);
            border-bottom: 4px solid black;
            border-left: 4px solid black;
            right: calc(50% - 18px);
            top: calc(100% - 13px);
            z-index: -1;
        }
    }
    .titleBackGround::after{
        content: '';
        position: absolute;
        width: 100%;
        border: 3px solid black;
        left: 0;
        top: calc(100% + 3px);
    }
    .doubleCloud{
        position: absolute;
        top: 20px;
        right: 5%;
    }
}

@media (min-width: 768px){
    .pro_title{
        h1{
            font-size: $h1;
        }
        h2{
            font-size: $h2;
        }
    }
}
//圖片切換器css起點
.bigImgBox{
    width: 75%;
    margin: auto;
    #bigImg{
        width: 100%;
        vertical-align: top;
        aspect-ratio: 1/1;
        object-fit:contain;
        overflow: hidden;
    }
}
.smallImgsBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .smallImg{
        box-sizing: border-box;
        width: 24%;
        aspect-ratio: 1/1;
        object-fit:contain;
        overflow: hidden;
    }
}
@media (min-width: 768px){
    .smallImgsBox .smallImg{
        width: 48%;
    }
}
//圖片切換器css終點


//商品簡介區css起點
.intro{
    padding: 0 12.5%;
    margin: 0 auto 100px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .price{
        font-size: $mh2;
        padding: 20px 0;
        p{
            display: flex;
            justify-content: space-between;
        }
    }
    .intro_tet{
        border-top: $bor1 solid $blackWord;
        border-bottom: $bor1 solid $blackWord;
        padding: 20px 0;
    }
    ul{
        list-style: disc;
        list-style-type: disc;
    }
    li{
        margin-bottom: 20px;
    }
    li:last-of-type{
        margin-bottom: 0;
    }
}
@media (min-width:768px){
    .intro{
        box-sizing: border-box;
        padding: 0 4.157%;
    }
}
.pro_functions{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
    border-bottom: $bor1 solid $blackWord;
}
//商品數量加減器起點
.numberChoice{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.numberChoice label {
    align-items: center;
    font-size: $mh5;
    color: $grass_2;
}

//商品數量加減器終點

//商品加購起點
.additional_pro{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: $mh5;
    label {
        align-items: center;
        color: $grass_2;
    }
    .choose_additional_pro{
        min-width: 45%;
        max-width: 190px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .btn_buy_additional{
        box-sizing: border-box;
        width: 100%;
        height: 100px;
        padding: 0 10px;
        border-radius: $borr2;
        background-color: #00f0;
        // background-color: #24A895;
        color: $grass_2;
        // color: $whiteWord;
        border: $bor1 solid $grass_2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
        cursor: pointer;
        span:first-of-type{
            margin-right: auto;
        }
        span:nth-of-type(3){
            font-size: $mh6;
            color: $grey_3;
            width: 100%;
            // color: $whiteWord;
        }
        input{
            box-sizing: border-box;
            width: 100%;
            padding-inline-start: 10px;
            border: $grass_2 solid $bor1;
            border-radius: $borr1;
            color: $grey_3;
            font-size: $mh6;
        }
    }
    .btn_buy_additional:hover{
        color: $whiteWord;
        background-color:$grass_2;
        span:nth-of-type(3){
            color: $whiteWord;
        }
    }
}
//商品加購終點

//直接購買、加入購物車
.buy_pro{
    padding: 20px 0 0 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    svg{
        margin-top: 6px;
    }
    button{
        border: none;
        // border-radius: $borr2;
        border-radius: 15px;
        font-size: $mh6;
        width: 40%;
        color: #fff;
        padding: 14px 0;
    }
    #addToCartBtn{
        border: 2px solid $grass_1;
        // padding: 12px 50px;
        background-color: #fff;
        color: $grass_1;
        cursor: pointer;
    }
    #buyNowBtn{
        background-color: $grass_1;
        // padding: 14px 50px;
        cursor: pointer;
        a{
            text-decoration: none;
            color: #fff;
        }
    }
}
    

//商品簡介區css終點


//詳情區塊
.birdbox{
    position: absolute;
    top: -75px;
    .blueBird{
        position: relative;
        left: 75%;
        top: 5px;
    }
    .yellowBird{
        position: relative;
        left: 10px;
    }
    .greenBird{
        position: relative;
        left: 125%;
        top: -30px;
    }
    @media (min-width:768px) {
        top: 75px
    }
}
//詳情區塊

