// @media (min-width: 768px){
// }
.register{
    margin-bottom: 100px;
    font-family:'Noto Sans' ;
    & input{
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        font-size: $mh6;
        border-radius: $borr2 - 5px;
    }
}
.registerTitle{
    margin-top: 85px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    & .line{
        width: 100%;
        height: 0;
        background-color: transparent;
        border: $bor1 solid $blackWord;
    }
    & .title{
        width: 100%;
        margin-bottom: 10px;
        & img{
            width: 100%;
            vertical-align: top;
        }
    }
    & h1{
        font-size: $h2;
        color: $blackWord;
        margin: 20px 0;
    }
}
.registerContent{
    width: 90%;
    margin: 40px auto;
    padding: 20px 0;
    background-color: $grey_2;
    border-radius: $borr3 - 10px;
    & .textarea{
        display: flex;
        flex-direction: column;
        align-items: center;
        & .name_birth, .email_tel, .register_psw{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        }
        & .space{
            width: 40%;
        }
        & .address{
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            column-gap: 30px;
            width: 87%;
            .space{
                width: 46%;
            }
        }
        & .keyin_psw, .confirm_psw{
            position: relative;
            width: 40%;
        }
        & .eye1, .eye2{
            width: 13%;
            position: absolute;
            bottom: 23%;
            right: 3%;
            cursor: pointer;
        }
        & p{
            font-size: $default;
            font-family: 'Kosugi Maru';
        }
    }
    & .check{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        & #registerChecked{
            width: 3%;
            height: 16px;
            // margin: 0 3px 0 0;
        }
        & label{
            display: block;
            padding: 10px 10px 10px 0;
            font-size: $p;
        }
        & span{
            display: inline-block;
            color: $blue;
            // padding: 0 10px;
            font-size: $default;
            cursor: pointer;
            text-decoration-line: underline;
            text-decoration-color: transparent;
            transition:text-decoration-color .2s linear;
            &:hover{
                text-decoration-color: $blue;
            }
        }
    }
    & .register_btn{
        display: flex;
        align-items: center;
        flex-direction: column;
        & button{
            width: 50%;
            height: 70px;
            font-size: $h5;
            margin-block: 5px;
            color: $whiteWord;
            border: none;
            border-radius: $borr2;
            cursor: pointer;
            margin-bottom: 10px;
            text-align: center;
            transition: border 0.1s ease-in-out;
            background-color: $grass_1;
            &:hover{
                border: solid;
                box-shadow: rgba(102, 102, 102, 0.35) 0px 5px 20px;
            }
        }
        & a{
            color: $blackWord;
            font-size: $p;
        }
    }
    & .other_register{
        width: 100%;
        padding: 0 0 20px 0;
        margin: 10px auto 0 auto;
        & .other_register_title{
            display: flex;
            justify-content: center;
            align-items: center;
            & .other_line{
                border: 1px solid #222;
                width: 20%;
            }
        }
        & h2{
            font-size: $h5;
            text-align: center;
            margin-block: 8px;
        }
            & .register_group, .register_group a{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .register_group a{
                transition: 0.3s linear;
                scale: 1.0;
                &:hover{
                    scale: 1.1;
                }
            }
                & .register_group img{
                    width: 60%;
                    vertical-align: top;
                }
    }
}
@media (min-width: 768px){
    .register{
        & input{
            font-size: $default;
        }
    }
    .registerContent{
        width: 60%;
        .check{
            .terms-and-privacy span:after {
                content: "/";
                margin: 0 5px; 
            }
            
            .terms-and-privacy .no-slash:after {
                content: none;
            }
        }
    }
    .registerContent .textarea{
        p{
            font-size: $p;
        }
        .eye1, .eye2{
            bottom: 30%;
            width: 5%;
        }
    }
    .registerTitle .title{
        width: 35%;
        margin-block: 12px;
    }
}