.SecondHandSale {
    width: 100%;
    margin-bottom: 100px;

    .SecondHandSaleTitle {
        margin-top: 110px;
        padding-bottom: 25px;
        border-bottom: 1px solid $blackWord;

        h2 {
            text-align: center;
        }
    }

    .saleCarStepTopText {
        width: 100%;
        margin: 0 auto;

        p {
            font-size: $p;
            // font-family: 'Kosugi Maru';
            line-height: 40px;
            padding: 20px 60px;
        }

        .drawPic {
            img {
                width: 32%;
                position: absolute;
                right: 2%;
                top: 15%;
                z-index: 2;
                animation: sway 3s ease-in-out infinite;
            }
        }
    }

    @keyframes sway {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(5%);
        }

        100% {
            transform: translateX(0);
        }
    }

    .saleCarSteps {
        .bgm {
            background-image: url(../../imgs/SecondHandSale/bgp.png);
            width: 100%;
            background-size: 100% 100%;
            background-position: center; // 背景圖片置中
            margin: 0;
            position: relative;
            background-repeat: no-repeat;

        }

        .saleCarStep {
            width: 85%;
            margin: 0 3% 0 8%;
            display: flex;
            align-items: center;
            justify-content: center;

            .saleCarStepImg {
                width: 45%;

                img {
                    width: 95%;
                    height: auto;
                }
            }

            .saleCarStepType {
                width: 70%;
                display: flex;
                align-items: start;
                flex-direction: column;
                margin: 2%;
                opacity: 0;
                transform: translateY(50px);
                transition: opacity 0.5s, transform 0.5s;
                animation: fadeInUp 1s ease-out forwards;

                .saleCarStepNum {
                    font-size: $h3;
                    margin: -2px 10px;
                    font-family: "Single DAY";
                }


                @keyframes fadeInUp {
                    from {
                        opacity: 0;
                        transform: translateY(50px);
                    }

                    to {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }

            .saleCarStepContent {
                font-size: $h4;
                letter-spacing: 1.5px;

                h5 {
                    margin: 0 0px;
                }

                p {
                    display: none;
                }
            }
        }

    }

    .infoTextSale {
        // height: 900px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0 auto;

        .InfoTextCards {
            width: 80%;
            margin: 0 auto;
            padding-top: 0px;

            // border-top: 1px solid $blackWord;
            .InfoTextText {
                width: 100%;
            }

            .shopInfoMapSale {
                width: 100%;
                margin: 0 auto;
            }
        }

        .AboutUsBtnSale {
            width: 80%;
            margin: 0 auto;
        }
    }

    @media (min-width : 768px) {
        .infoTextSale {
            // height: 900px;
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 0 auto;

            .InfoTextCards {
                width: 80%;
                margin: 0;
                padding-top: 0px;
                // border-top: 1px solid $blackWord;
            }
        }
    }
}

.mountainpic {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;

    img {
        width: 40%;
    }
}

@media (min-width : 768px) {
    .mountainpic {
        display: flex;
        justify-content: flex-start;
        margin: 0 auto;
        margin: 0 0 -3% 12%;

        img {
            width: 40%;
        }
    }
}

.SellCarFormButton {
    width: 24%;
    position: fixed;
    right: 2%;
    bottom: 12%;
    z-index: 100;

    @media (min-width : 768px) {
        width: 8%;
        position: fixed;
        right: 2%;
        bottom: 1%;
    }

    button {
        width: 100%; // 按鈕寬度佔滿父元素
        height: 100%; // 按鈕高度佔滿父元素
        padding: 0; // 移除按鈕的內邊距
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            width: 110%;
        }

        img {
            width: 100%; // 圖片寬度佔滿按鈕
            height: auto; // 高度自適應，保持比例
            display: block; // 讓圖片置中顯示
            margin: 0 auto; // 圖片水平置中
        }
    }
}

@media (min-width : 768px) {
    .SecondHandSale {
        width: 100%;

        h2 {
            margin-top: 100px;

        }

        .saleCarStepTopText {
            p {
                width: 50%;
                font-size: $p;
                font-family: 'Kosugi Maru';
                line-height: 40px;
                padding: 20px 60px;
                text-align: center;
                margin: auto;
            }

            .drawPic {
                img {
                    width: 20%;
                    position: absolute;
                    right: 5%;
                    top: 18%;
                }
            }
        }

        .saleCarSteps {
            width: 100%;
            margin: 0 auto;

            .saleCarStep {

                &:nth-child(even) {
                    // background-color: $grey_2;
                    flex-direction: row-reverse;
                }

                width: 75%;
                display: flex;
                margin: 0 auto;
                padding: 10px;

                .saleCarStepImg {
                    // width: 50%;
                    height: 50%;

                    img {
                        width: 80%;
                        height: auto;
                    }
                }

                .saleCarStepType {
                    width: 45%;
                    margin: 15px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    align-items: flex-start;
                    background-color: white;
                    border-radius: $borr2;

                    .saleCarStepNum {
                        font-size: $h1;
                        margin: 3% 0 1% 6%;
                    }

                }

                .saleCarStepContent {
                    font-size: $h3;

                    h5 {
                        margin: 2% 30px;
                    }

                    p {
                        display: block;
                        font-size: 1rem;
                        // font-family: 'Kosugi Maru';
                        line-height: 40px;
                        padding: 20px 40px;
                        letter-spacing: 2px;
                        text-align: justify;
                    }
                }
            }

        }

        .infoTextSale {
            // height: 900px;
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 0 auto;

            .InfoTextCards {
                display: flex;
                align-items: center;
                width: 80%;
                margin: 0 auto;

                .InfoTextText {
                    width: 90%;
                    margin: 20px;
                }

                .shopInfoMapSale {
                    width: 100%;
                    margin: 0 auto;
                }
            }

            .AboutUsBtnSale {
                width: 80%;
                margin: 10px auto;
            }
        }
    }

}

// .iwantsellCar{
//     position: relative;
// .SellCarFormButton{
//     position: fixed;
//     top: 0;
//     right: 20px;
//     background-color: $green;
//     color: white;
//     border: none;
//     border-radius: 50%;
//     font-size: 24px;
//     cursor: pointer;
//     width: 80px;
//     height: 80px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
//     z-index: 700;
//     p{
//     font-size: $p;
//     }
// }
// }