
.sh_pro_list_title{
  display: flex;
  justify-content: center;
  border-bottom: $bor1 solid $blackWord;
  padding: 80px 0 10px 0;
  h1{
    margin-top: 10px;
  }
}

.container{
  .row{
    display: flex;
    justify-content: center;
  }
  .store_name{
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    border-bottom: $bor2 solid $blackWord;
    h2{
      font-size: $h2;
      height: fit-content;
    }
  }
}


@media (min-width:768px){
  .store_name{
    margin: 0 8.333%;
  }
}


// 價格篩選器c

.sh_pro_card_list {
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  
}


//商品卡css起點
.sh_product_card{
  box-sizing: border-box;
  text-align: center;
} 
  .sh_pro_card_img img{ 
    vertical-align: top;
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
  }
  .sh_pro_crad_info{
      margin-bottom: 20px;
  }
  .sh_pro_crad_info h6{ 
    font-size: $h4; 
  } 
  .sh_pro_crad_info p{ 
    font-size: $p; 
  } 


//商品卡css終點

 @media screen and   (min-width:768px) and  (max-width:1270px) {
  .pro_list_sorter{
    margin-bottom: 60px;
  }
  
  .sh_pro_card_list{
    margin: 0
  }
  #priceSorter{
      width: 300px;
      height: 40px;
      border-radius: 10px;
  }
}




// 二手商品內頁

.sh_product_wrap{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 100px;
}

// 商品小圖換大圖
.prodpic{
  .mainpic{
    width: 500px;
    height: 400px;
    // padding: 20px;
    img{
      width: 500px;
    }
  }

  .littlepic{
    width: 500px;
    img{
      width: 50%;
    }
  }
}

//商品簡介
.intromq{
  display: none;
}

.intro{
  width: 100%;
  line-height: 2;
  padding: 90px 30px;
  h1{
    background-color: $navy;
    color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    border-bottom: 3px solid #000;
    margin-bottom: 15px;
  }
  h2{
    display: flex;
    justify-content: center;
  }
  .year{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $blackWord;
    display: flex;
    justify-content: space-between;
  }
  .intro_text{
    padding: 20px 0;
    border-bottom: 1px solid $blackWord;
    margin-bottom: 25px;
  }
  #purchase_btn{
    // margin-top: 40px;
    display: flex;
    justify-content: center;
    a{
        color: #fff;
        background-color: $grass_1;
        padding: 10px 70px;
        border-radius: 15px;
    }
  }
}

.productIntro{
  background-image: url(/src/assets/imgs/product/info_bg.png);
}


// 推薦商品區
.recommand{
  // width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
    .sh_prod_slider{
      position: relative;
      margin: 0 auto;
      width: 90%;
      // border: 1px solid red;
      display: flex;
      justify-content: center;
      text-align: center;
      
      .swiper-button-prev {
        position: absolute;
        top: 100px;
      }
      .swiper-button-next{
        position: absolute;
        top: 100px;
      }
      .sh_slider_card{
        width: 30%;
        margin: 10px 10px 0 30px;
      }
      
  }
  button{
    width: 30px;
    background-color: white;
    border: none;
    img{
      width: 100%;
    }
  }
  i{
    font-size: 16px;
    border: 1px solid #222;
    border-radius: 50%;
    margin-top: -65px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    
  }
  i:hover{
      background-color: $lightGreen;
      border: none;

  }
  .slider_left{
    i{
      transform: rotate(180deg);
    }
  }
  .product_card{
    width: 100%;
    img{
      width: 100%;
    }
  }
}

.sh_process{
  background-image: url(/src/assets//imgs/product/sh_bg.png);
  
}

.iwantsellCarbutton{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $green;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 700;
  a{
    color: #fff;
    p{
      font-size: $p;
    }
  }
  
}


@media (max-width:768px){

  .intro{
    h1{
      display: none;
    }
    h2{
      display: none;
    }
  }

  .sh_product_wrap{
    flex-direction: column;

    .intromq{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 40px;
      line-height: 2;
    }

    .prodpic{
      
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      .mainpic{
        width: 90%;
        height: 250px;
         img{
          width: 100%;
          
        }

      }
     
      .littlepic{
        width: 100%;
        box-sizing: border-box;
        align-content: center;
        margin-top: 5vw;
        img{
          width: 20%;
          margin: 5px;
        }
      }
    }

    .intro{
      #purchase_btn{
        justify-content: center;
      }
    }
  }

  
  

  .iwantsellCarbutton{
    width: 50px;
    height: 50px;
    bottom: 90px;
    right: 10px;
    a{
      p{
        font-size: 12px;
      }
    }
  }

  .recommand{
    .product_card{
      width: 80%;
    }
    .mySwiper{
      .swiper-wrapper {
        display: flex ;
        flex-wrap: nowrap ;
      }
    }
    .swiper-slide {
      width: 100% !important;
      margin-right: 0 ;
    }
    .swiper-button-next{
      margin-right: -20px;
      margin-top: -20px;
    }
    .swiper-button-prev{
      margin-left: -20px;
      margin-top: -30px;
    }
}
}