//分頁標題css起點
.pro_list_title{
  display: flex;
  justify-content: center;
  border-bottom: $bor1 solid $blackWord;
  padding: 60px 0;
  h1{
    font-size: $h1;
  }
}
//分頁標題css終點


//商店名css起點
.store_name{
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  border-bottom: $bor2 solid $blackWord;
  h2{
    font-size: $h2;
    height: fit-content;
  }
}

@media (min-width:768px){
  .store_name{
    margin: 0 8.333%;
  }
}
//商店名css終點點

// 價格篩選器css終點

.sh_pro_card_list {
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}


//商品卡css起點
.sh_product_card{
  box-sizing: border-box;
  text-align: center;
} 
  .sh_pro_card_img img{ 
    vertical-align: top;
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
  }
  .sh_pro_crad_info{
      margin-bottom: 20px;
  }
  .sh_pro_crad_info h6{ 
    font-size: $h4; 
  } 
  .sh_pro_crad_info p{ 
    font-size: $p; 
  } 


//商品卡css終點

 @media screen and   (min-width:768px) and  (max-width:1270px) {
  .pro_list_sorter{
    margin-bottom: 60px;
  }
  
  .sh_pro_card_list{
    margin: 0
  }
}


// 二手商品內頁

.sh_product_wrap{
width: 80%;
display: flex;
justify-content: space-between;
margin: 0 auto;
}

// 商品小圖換大圖區
.prodpic{
  .mainpic{
    img{
      width: 500px;
    }
  }

  .littlepic{
    width: 500px;
    img{
      width: 50%;
    }
  }
}

//商品簡介
.intromq{
  display: none;
}

.intro{
width: 100%;
line-height: 2;
padding: 90px 30px;
.year{
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $blackWord;
  display: flex;
  justify-content: space-between;
}
.intro_text{
  padding: 20px 0;
  border-bottom: 1px solid $blackWord;
}
.purchase_btn{
  margin-top: 40px;
  display: flex;
  justify-content: end;
  a{
    color: #fff;
    background-color: $grass_1;
    padding: 10px 70px;
    border-radius: 15px;
  }
}
}


// 頁籤標題

.introduction{
  position: relative;
  margin-top:200px;
    .searchItem{
    position: absolute;
    bottom: 100%;
    right: 50%;
    ul{
      display: flex;
      justify-content: center;
      li{
        background-color: $yellow;
        padding: 15px 25px;
        border-radius: 20px 20px 0 0;
        cursor: pointer;
        a{
          color: $blackWord;
        }

      }
    
    }
    
  }

  //詳情區塊
  .sh_detail{
    width: 60%;
    background-color: $yellow;
    border-radius: 20px;
    padding: 50px 60px;
    margin: 0 auto;
    margin-top: 90px;
    line-height: 2;
    position: relative;

    .sh_detail_content{
      display: flex;
    }
    h2{
      margin-bottom: 30px;
    }
    span{
      font-weight: bold;
    }

    .articlel{
      width: 50%;
      margin-right: 30px;
    }
    .articler{
      width: 50%;
    }
    img{
      width: 80px;
      position: absolute;
      left: -75px;
      top: 20%;
    }

  }
}



// 推薦商品區
.recommand{
width: 90%;
margin: 0 auto;
  button{
    width: 30px;
    background-color: white;
    border: none;
    img{
      width: 100%;
    }
  }
  .slider_right{
    img{
      transform: rotate(180deg);
    }
  }
}


@media (max-width:768px){

  .intro{
    h1{
      display: none;
    }
    h2{
      display: none;
    }
  }

  .sh_product_wrap{
    flex-direction: column;

    .intromq{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 40px;
      line-height: 2;
    }

    .prodpic{
      display: flex;
      flex-direction: column;
      align-items: center;
    
      .mainpic{
        
      }

      .littlepic{
        box-sizing: border-box;
        align-content: center;
        img{
          width: 20%;
          margin: 10px;
        }
      }
    }

    .intro{
      .purchase_btn{
        justify-content: center;
      }
    }
  }

  
  .sh_detail{
    width: 75%;
    img{
      width: 50px;
      margin-left: 28px;
    }

    .sh_detail_content{
      flex-direction: column;
      
      .articlel{
        width: 100%;
      }
      .articler{
        width: 100%;
      }
    }
  }
  
}