.SecondHandSale{
    width: 100%;
    margin-bottom: 100px;

    .SecondHandSaleTitle{
        margin-top: 110px;
        padding-bottom: 25px;
        border-bottom: 1px solid $blackWord;
        h2{
            text-align: center;
        }
    }
    .saleCarStepTopText{
        width: 95%;
        margin: 0 auto;
        p{
            font-size: $p;
            font-family: 'Kosugi Maru';
            line-height: 40px;
            padding: 20px 60px;
        }
        .drawPic{
            img{
                width: 20%;
                position: absolute;
                right: 5%;
                top: 12%;
            }
        }
    }
    .saleCarSteps{
        margin: 5%;
        .saleCarStep{ 
            width: 95%;
            margin: 0 5% 0 10%;
            display: flex;
            align-items: center;
            justify-content: center;
                .saleCarStepImg{
                    width: 45%;
                    img{
                        width: 100%;
                        height: auto; 
                        }
                }
                .saleCarStepType{
                    width: 55%;
                    display: flex;
                    align-items: start;
                    flex-direction: column;
                    margin: 2% 5%;
                    .saleCarStepNum{
                        font-size: $h3;
                        margin: 10px 15px;
                        font-family: "Single DAY";
                    }
                    
                }
                .saleCarStepContent{
                    font-size: $h3;
                    p{
                        display: none;
                    }
                }
        }
    
    }
    .infoTextSale{
        // height: 900px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0 auto;
        .InfoTextCards{
            width: 80%;
            margin: 0 auto;
            padding-top: 0px;
            // border-top: 1px solid $blackWord;
            .InfoTextText{
                width: 100%;
            }
            .shopInfoMapSale {
                width: 100%;
                margin: 0 auto;
            }
        }
        .AboutUsBtnSale{
            width: 80%;
            margin: 0 auto;
        }
    }
    @media (min-width : 768px) {
        .infoTextSale{
            // height: 900px;
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 0 auto;
            .InfoTextCards{
                width: 80%;
                margin: 0;
                padding-top: 0px;
                // border-top: 1px solid $blackWord;
            }
        }
    }
}
.mountainpic{
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    img{
        width: 40%;
    }
}
@media (min-width : 768px) {
    .mountainpic{
        display: flex;
        justify-content: flex-start;
        margin: 0 auto;
        margin: 0 0 -3% 12%;
        img{
            width: 40%;
        }
    }
}
.SellCarFormButton {
    width: 15%;
    position: fixed;
    right: 6%;
    bottom: 10%;
    z-index: 100;
    @media (min-width : 768px) {
        width: 8%;
        position: fixed;
        right: 6%;
        bottom: 1%;
    }
    button {
        width: 100%; // 按鈕寬度佔滿父元素
        height: 100%; // 按鈕高度佔滿父元素
        padding: 0; // 移除按鈕的內邊距
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            width: 110%;
        }

        img {
            width: 100%; // 圖片寬度佔滿按鈕
            height: auto; // 高度自適應，保持比例
            display: block; // 讓圖片置中顯示
            margin: 0 auto; // 圖片水平置中
        }
    }
}

@media (min-width : 768px) {
    .SecondHandSale{
        width: 100%;
        h2{
            margin-top: 100px;
    
        }
        .saleCarStepTopText{
            p{  
                width: 50%;
                font-size: $p;
                font-family: 'Kosugi Maru';
                line-height: 40px;
                padding: 20px 60px;
                text-align: center;
                margin: auto;
            }
            .drawPic{
                img{
                    width: 20%;
                    position: absolute;
                    right: 5%;
                    top: 18%;
                }
            }
        }
    
        .saleCarSteps{
            width: 80%;
            margin: 0 auto;
            .saleCarStep{
            
            &:nth-child(even) {
                // background-color: $grey_2;
                flex-direction: row-reverse;
            }    
                width: 90%;
                display: flex;
                margin: 0 auto;
                padding: 10px;
                    .saleCarStepImg{
                        // width: 50%;
                        height: 50%;
                        img{
                            width: 100%;
                            height: auto; 
                            }
                    }
                    .saleCarStepType{
                        width: 50%;
                        margin: 15px;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        align-items: flex-start;
                        .saleCarStepNum{
                            font-size: $h3;
                            margin: 30px;
                        }
                        
                    }
                    .saleCarStepContent{
                        font-size: $h3;
                    h5{
                        margin: 10px 30px;
                    }    
                    p{
                        display: block;
                        font-size: $p;
                        // font-family: 'Kosugi Maru';
                        line-height: 40px;
                        padding: 20px 30px;
                    }
                    }
            }
        
        }
        .infoTextSale{
            // height: 900px;
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 0 auto;
            .InfoTextCards{
                display: flex;
                align-items: center;
                width: 80%;
                margin: 0 auto;
                .InfoTextText{
                    width: 90%;
                    margin: 20px;
                }
                .shopInfoMapSale {
                    width: 100%;
                    margin: 0 auto;
                }
            }
            .AboutUsBtnSale{
                width: 80%;
                margin: 10px auto;
            }
        }
        // .iwantsellCar{
        //     position: relative;
            // .SellCarFormButton{
            //     position: fixed;
            //     top: 0;
            //     right: 20px;
            //     background-color: $green;
            //     color: white;
            //     border: none;
            //     border-radius: 50%;
            //     font-size: 24px;
            //     cursor: pointer;
            //     width: 80px;
            //     height: 80px;
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            //     z-index: 700;
            //     p{
            //     font-size: $p;
            //     }
            // }
        // }
    }

}